[2020-06-30 10:51] zladay opened #1 "willing to give a lift"
I am into Sitronix ST7735 style (e.g. ili9341, ili9488 and the like) TFT controllers. I am also working with different TCs (STMPE811, XPT2046 etc.)
I am interested in a more ESP-IDF-ish driver infrastructure with a streamlined lvgl interface.
Willing to share ideas, designs and code examples.
Looking for some guidance since this is an empty space now.

[2020-06-30 11:45] kisvegabor commented on #1
Hi @zladay

Glad to see that you are interested in contributing to the project. Every help is welcome! :slightly_smiling_face:

@C47D, the maintainer of [lv_port_esp32](https://github.com/lvgl/lv_port_esp32), is also into this topic.

We are still in the planning phase, finding the right API, layers, etc. Do you already have any ideas?

[2020-07-02 02:21] C47D commented on #1
Hi @zladay,

The initial work is already done on the [lv_port_esp32](https://github.com/lvgl/lv_port_esp32) repo, we will copy the lvgl_esp32_drivers directorie into here, so users can use the drivers without needing to use the whole lv_port_esp32 project.
We already have support for ILI9341, ILI9488, ILI9486, HX8357B/HX8357D, ST7789, ST7735S, SH1107, SSD1306 and IL3820 display controllers, and XP

[2020-07-02 11:22] zladay commented on #1
I am aware of the drivers you mention. I started working with an original version of @kisvegabor's ESP32 demo. (There was only ili9341 and xpt2046 support at that time).
I put together a completely new driver architecture initially targeting ili9341 and STPME811 only (this was the only hardware I had back then).
Design objectives included
- support  for multiple device (disp, indev) instances (sam

[2020-07-02 12:54] kisvegabor commented on #1
@zladay
That's great!
Could you upload your code somewhere to see how it looks like?

[2020-07-02 16:02] zladay commented on #1
Sure.
I need some time to clean it up, though.
I will link it if it is done.

[2020-07-05 04:07] C47D commented on #1
I can upload the existing code here and you take over with your improvements, I'm sure there's a lot to be done with the existing code on the lv_port_esp32 display and touch (indev) code.

[2020-07-05 18:09] zladay commented on #1
I have already set up a repository with my drivers. In order to demonstrate the new approach, I need to come up with a new demo program, too. I have also set up a repository for this. I have been using a pretty old version of lvgl and an lvgl example. The "Write List Chart" one. I decided to include lvgl and lv_examples as submodules in this repo. It is now done. In this process, I switched to the

[2020-07-05 19:01] zladay commented on #1
I have just changed the demo to lv_widgets_demo. Demo compiles and works on first try with the latest lvgl, wow. ili9341 (320x240) and xpt2046. Touch works, too. Demo and drivers are committed to the Github repos.
I can start the cleanup and reorganisation now.
I will keep you updated.

[2020-07-05 19:03] C47D commented on #1
Hi,

For start you can only show a label in the display, once it's working we can work on showing any of the lv_example demos.
Maybe we can use your architecture as a base and add the old drivers on top of that, updating any necessary code, we have to remember this repo will be used as submodule on the `lv_port_esp32` repo.

The `lv_port_esp32` repo has three components, lvgl, lv_examples and lvgl

[2020-07-05 19:52] C47D commented on #1
Also, are we going to compare both approaches? I haven't measured how busy the SPI master is in the current approach.

[2020-07-05 19:53] zladay commented on #1
As I wrote earlier, the lv_example problem is solved. This widget demo is scrolling through the TFT right now. (I am missing the "Write List Chart" BTW, that looked much nicer :)
Oh yes, the repo question! I did not think it is going to be this complex when I showed up here.
@kisvegabor asked me to upload the code somewhere. This is why I had to set up a repo for the drivers. Later, I realised tha

[2020-07-05 20:07] zladay commented on #1
You have a lot of questions :) I am trying to answer all, however.
Discord server (or any other real-time comms application)? I am definitely in. I have suggested this to @kisvegabor earlier.

[2020-07-05 20:23] zladay commented on #1
"Maybe we can use your architecture as a base and add the old drivers on top of that"
This is my intention, too. Later. This time, I think, it is a bit early. As I said, I need to reorganise the code first. It does not yet fully reflect my ideas and objectives yet, not to talk about other people. Your suggestions are also welcome.
My initial plan is to support the following hardware:
- TFT: ST7735

[2020-07-05 20:30] embeddedt commented on #1
We typically prefer to use communication mediums that can be searched more easily (i.e. GitHub issues and the forum). It helps reduce the number of duplicate questions.

[2020-07-05 20:31] zladay commented on #1
What do I mean by reorganisation?
Maybe it is news for you, but the above TFTs do not need separate drivers. Only the initialisation is different, and that difference is only one bit in the MADCTL register (RGB order).
I want to write a generic driver (not writing it actually, since any will do, of course) as a common component and a very thin specific driver for each of those.
Similarly, there is

[2020-07-05 20:46] zladay commented on #1
Performance measurements?
I did some with an oscilloscope and logic analyzer.
The color buffer is transmitted on the SPI bus via DMA (from day one). This is very fast. It can not be improved. Neither could I. What you can optimise is the setup of those transfers. Probably I did, but it is insignificant. I did a measurement with @kisvegabor's original demo (at 40 MHz if I remember correctly) and th

[2020-07-05 20:49] zladay commented on #1
"Do you have your repos available somewhere?"
Yes, here on Github.
I will link them if it is going to be worth to see them. I need some days still.

[2020-07-05 21:51] zladay commented on #1
There is one catch with the TFT drivers.
As I said, they do not need separate drivers.
There is a problem with the supported RGB modes (on the 4 wire MCU interface, aka SPI), indeed.
If I remember correctly, the supported modes are as follows:
- ili9341: 16 bit RGB 565, 18 bit (takes 24 bits on SPI) RGB 666
- st7735s: 12 bit RGB 444, 16 bit RGB 565, 18 bit (takes 24 bits on SPI) RGB 666
- ili9488:

[2020-07-06 08:07] kisvegabor commented on #1
**Chat**
Can you describe why do you think the chat is required?

Personally I'm happy with forum/github. I got a lot of emails and notifications from these platforms. On top of these a chat - that requires real-time presence - would be too much for me. Besides - as @embeddedt mentioned - the issues and forum topics can be easily linked to answering questions quickly.

**TFT + monchrome**
You can

[2020-07-06 11:05] zladay commented on #1
# Chat
@C47D proposed this. I will leave this to him to answer.
# TFT + monochrome
I am aware of this. I never said that the drivers can not be written for MC OLEDs (especially because those are already written). I just said that drivers tend to be complicated because of the sub-byte addressing.
TFT drivers are different since the minimum practical resolution (16 bit) exceeds one byte. There are p

[2020-07-06 12:00] kisvegabor commented on #1
RGB 666 and RGB888 are really not supported and  I don't see an easy way to do it because the current formats can be natively addressed in every case (1,2 or 4 byte color types). Let's postpone it a little.

"Impossible" is not entirely true. You can convert the colors to the desired format in the `flush_cb`. It's ugly though but not impossible. For small displays, it shouldn't make a big differen

[2020-07-06 12:32] zladay commented on #1
Just a small clarification for the RGB problem.
There is no need to support RGB666 in lvgl. RGB888 would suffice. Why?
TFTs (including ili9488) expect RGB666 in 3 bytes. One byte for each color channel. These 6 bits are expected in the MSB part of the byte (D7-D2). TFT controller disregards D1-D2. Using RGB 888 here is fine. The HW does the "conversion". Two LSBs would be lost for each channel. Ap

[2020-07-07 02:54] C47D commented on #1
I suggested the chat because it's more real time, only intended for developers, not for general use. But thinking again about it, we should make the discussion public so anyone can add suggestions.

I am not sure if we understand the same for "with OS". I suppose that it means that the development framework contains a scheduler with task handling and synchronization primitives (e.g. FreeRTOS).
Whe

[2020-07-07 17:21] kisvegabor commented on #1
@zladay

If you use 32 bit color depth for LVGL you can make the conversation in the color buffer as well without allocating a new temporary buffer.

---

Seemingly we are on the same page. :slightly_smiling_face:

[2020-07-07 17:47] zladay commented on #1
@zladay

@C47D

Let me resolve the contradiction here.
I referred to my code.
@C47D talks about the public version.
I am aware that the public version has support for eye squared see.

I2C is practical (or available at all) at small, mostly monochrome displays. I have already written SSD1306 (and SH1107 which is almost the same) drivers for an other platform (mbed, if I remember correctly). I have

[2020-07-07 18:05] zladay commented on #1
I am not sure that I know what "drivers supported by the lv_port_esp32 are planned to be ported to lv_drivers" means.

I am also not sure if your comment was intended to support or dispute my thoughts.

If it is RTOS, it is obviously not a "without OS" scenario.
If bare metal, you are not confined to a certain framework. You can choose whatever scheduler or OS you want.

[2020-07-07 18:09] zladay commented on #1
I do have some TFTs with parallel interface, but I do not want to work with them now, because
1. Parallel does not go well with ESP32, because there are not many pins to form the bus
2. I do not want my efforts to be too fragmented

[2020-07-07 18:12] zladay commented on #1
I disagree strongly. (It is a pretty long story why.)

[2020-07-07 18:16] zladay commented on #1
It is almost ready now. I am currently fighting with the rotation story. It is not simple if you want to give a general solution. There are a couple of mines there. I am sorting this out at this moment. I hope that you are going to be able to see the results soon.

[2020-07-07 18:30] zladay commented on #1
Maybe I do not fully understand how RGB 8888 (32 bit color depth) works, but I am afraid that your above solution does not work.

RGB 8888 mode populates the flush buffer with 32 bits/pixel. Four bytes for pixel one, then four bytes for pixel two and so on.
For RGB 666 e.g., the TFT expects 3 bytes/pixel.
If I am receiving a buffer from lvgl in RGB8888 format, how could I transfer it to the SPI wi

[2020-07-08 04:19] kisvegabor commented on #1
Why? I like Carlos's approach to make user init the bus(es) and set callbacks to the driver. Writing init and send functions for every vendors every MCU is an endless task. It's important to allow users to add their own drivers. We can provide built-in support for some platforms though but it couldn't be the only way.

Conversion is required but to allocation isn't. E.g. (not tested, probably wron

[2020-07-08 05:37] C47D commented on #1
Yeh, I struggled with rotation as well, mainly on the ili9341 driver because we support the Wrover Kit, M5Stack and the Chinese display with that driver, all of them seem to be wired differently.

We can try to do everything by ourselves, it's the current implementation on the lv_port_esp32 repo, the users only call the helper function and the interface peripheral is initialized, flush, set_px and

[2020-07-08 09:17] zladay commented on #1
If I understand it correctly, the conversion is in place. The buffer offered to the driver is compacted in place by the driver.
In this case, you are right. No additional buffer allocation is necessary.
I seem to be too well-mannered, I was considering the buffer as *const*, a property of lvgl, something I should not mess with.

[2020-07-08 09:28] zladay commented on #1
I wrote the above comment yesterday, but I forgot to push the <Comment> button.

[2020-07-08 09:44] zladay commented on #1
The ST7735S and the ILI9341 works with exactly the same generic driver. No changes are necessary. No difference in the initialization, either.
Earlier I thought, the two controllers only differ in RGB order (it is in the MADCTL register). At least, that was what the data sheets said.
After testing, I concluded that RGB order handling is identical. (The ILI9341 DS might have a mistake, or I remembe

[2020-07-08 10:49] zladay commented on #1
# Orientation
It seems to me that I could get past this issue last night.

Driver handles orientation properly. This is done the following manner.

*Base orientation* can be set at *init* (it is then affected at calling *reset* on the display, *base orientation* is restored after any subsequent *reset* call).
This handles different user scenarios including:
1. User wants to use the display in a ro

[2020-07-08 11:03] zladay commented on #1
# Weird panel wiring scenarios
As I mentioned earlier, some panels are having a weird wiring arrangement between the controller chip and the TFT. I have found a couple of panels where column wiring was reversed (right-to-left instead of left-to-right).
I could address this issue, too. You can configure the panel with reverse wiring for both columns (X) and rows (Y) at *init*.
This can not be chang

[2020-07-08 13:07] zladay commented on #1
# Other orientation related considerations
## Mirroring
Mirroring might be useful where the screen is not seen directly, but reflected from a surface. E.g. from a mirror or a car windshield (HUD scenario).
Current version does not support this, but it is very easy to add it later for both X and Y as mirroring axes. This could even be done dynamically (run-time).
## Touch controller
As I wrote earl

[2020-07-08 14:54] zladay commented on #1
I am not sure if I understand what you (@kisvegabor & @C47D) say.
I do not really want to discuss this now. I hope that I can make my drivers and their application in a demo program available soon. That is also meant as my statement about what direction drivers should go. As I said earlier, it is not complete, because I have more ideas than I have implemented so far (and I am not too optimistic, i

[2020-07-08 15:10] zladay commented on #1
Almost everything is ready for rolling it out from the hangar.

I have still troubles with ili9488 driver. It worked (and still works) in a standalone implementation, but I want to rearrange that as a derivation of the generic driver. I.e. to keep the generic intact and redefine the flush function only in a separate unit. I have a nasty problem with that, however. The whole device has gone astray

[2020-07-08 16:06] zladay commented on #1
Quick update on the chimera.

It did not work because of a trivial, not driver related problem.
It is a higher resolution screen, so I set the resolution to 480x320 in lvgl.
Flush buffers became so big that it exceeded the *maximum transfer size* configured for the SPI bus (not the device).
When I increased that, everything had become working.

So, the chimera is kept separate. Can be jettisoned a

[2020-07-08 16:45] zladay commented on #1
### More of the chimera story

The chimera is not ugly because it is a chimera. It is ugly because of the extra memory needed for the conversion and the necessity of the conversion itself. Hence, this particular chimera is ugly as hell, but other chimeras can be beautiful.

As I wrote earlier, from the ESP-IDF perspective, all the drivers are separate components. In this case it is the "ili9488" c

[2020-07-08 23:27] zladay commented on #1
### Drivers and Demo Application are ready for review

I have managed to complete the reorganization of the code.
Support is there for the above listed hardware.
All objectives stated earlier are met.
I did testing with multiple devices, but not thoroughly. Some portions of the code was just completed today.

Drop me a line if you are interested and I will give you access to the two repositories.

[2020-07-09 13:17] kisvegabor commented on #1
@zladay
Where are the repos?

[2020-07-09 14:07] zladay commented on #1
I have invited you as a collaborator for the two repositories.
You should receive emails with the details.
Pls. confirm if you have access.

[2020-07-09 20:03] zladay commented on #1
# "New" ili9488 Driver
I have implemented a "new" driver (ili9488_32). This supports RGB8888 (32 bit) lvgl color model.
TFT runs in RGB666 (RGB888 on the wire) mode. Conversion does not need buffer allocation. lvgl RGB8888 buffer is compacted in situ (the idea of @kisvegabor above).
It works fine.
## Comparison of 16 bit and 32 bit RGB scenarios
lvgl color depth | 16 bit| 32 bit
-|-|-
actual color

[2020-07-09 21:24] zladay commented on #1
@kisvegabor
I do not know if anyone has already noticed the following.
In lv_widgets -> Selectors -> Roller, there are "stray" pixels when rolling "Options".
I do not think it is a driver problem, because everything else is OK.

[2020-07-09 22:04] embeddedt commented on #1
@zladay I believe it's the same issue as https://github.com/lvgl/lvgl/issues/1602. Have you tried the latest versions of `lvgl` and `lv_examples`?

[2020-07-09 23:11] zladay commented on #1
@embeddedt

lvgl @ 416ef9e
lv_examples @ be98257

[2020-07-10 10:38] kisvegabor commented on #1
@zladay
Ah, it's a private repo. I got the invitation.
@C47D would you like to check it as well?

[2020-07-11 18:03] C47D commented on #1
Sure, if possible.

[2020-07-12 00:44] C47D commented on #1
@zladay Do you have ideas on how to improve the input devices? We have support for a few on the lv_port_esp32 but I haven't checked that code in a while.

[2020-07-12 21:37] zladay commented on #1
# Touch Controller follows screen orientation changes
@zladay

It is done.
Orientation settings for the TC are exactly the same as it is with the display.
A *base orientation* can be set at init (reset). This is to reflect the preferences of the device designer (portrait, landscape or upside down). In addition to that, orientation can be changed later (anytime during device usage). This is for fut

[2020-07-12 22:32] embeddedt commented on #1
You need a way of suspending the indev read task and resuming it when an interrupt fires. That should be all that is necessary as of 7.0.

[2020-07-12 22:43] zladay commented on #1
This is good news.
Last time I checked this with @kisvegabor, he said that interrupt driven indev was not available.
I will look into this.

[2020-07-12 23:09] zladay commented on #1
New version is pushed to my (private) Github repositories (drivers & demo).
@C47D, you have been invited as collaborator for these. You should receive email with the details.

If anyone else is interested in reviewing the code, drop me a line for invitation.

[2020-07-13 09:19] kisvegabor commented on #1
By "suspending" do you mean sleeping in OS or stop reading when this is no press?

I was thinking about something more complex, e.g. buffering asynchronously coming TP data in lvgl instead of periodically calling the `read_cb`. But it'd be great if there would be a simpler approach.

[2020-07-13 09:30] zladay commented on #1
@C47D

As far as the IL3820 rotation is concerned, I suggest you to have a look at *Data Entry Mode Setting* (command code 0x11) in the data sheet.
Also, there is a discussion about this [here](https://github.com/olikraus/u8g2/issues/318). I have not read it through, but I saw that it contains orientation and memory mapping related drawings.

[2020-07-13 11:31] zladay commented on #1
First of all, I want to say that I am an absolute newbie when it comes to lvgl internals. I have inspected some parts of the code (including indev handling - this is how I could figure it out how FIFO handling could improve communciations), but I do not have a clear picture about her architecture.

My understanding is that lvgl runs in a single task from the host OS perspective. In the case of ESP

[2020-07-13 12:49] embeddedt commented on #1
I meant that reads should stop if there hasn't been any new input in a while. I don't think we should depend on OS features.

This is essentially what I was thinking. Polling should just be dynamically turned off when there hasn't been a touch interrupt. I think the reaction time could potentially be faster than the current solution, since at the moment we are only polling every 30ms.

[2020-07-14 09:01] zladay commented on #1
# TC configuration parameters
The below code snippets show the TC interface configurations for the modules I tested and calibrated.
As seen, these are not complete interface configurations, only the TC geometry specific parts are shown.
All are using the XPT2046 TC with the exception being the Adafruit Featherwing 2.4" TFT, which is having an STMPE811 controller.
[code]
## Conclusions
The first th

[2020-07-14 09:11] zladay commented on #1
@kisvegabor , @C47D ,

Could you test my drivers with the demo program?

Have you looked at the code?

I would appreciate your feedback.

[2020-07-14 12:51] embeddedt commented on #1
@zladay The old [tpcal](https://github.com/lvgl/lv_examples/tree/release/v6/lv_apps/tpcal) app may be of use.

[2020-07-14 13:44] kisvegabor commented on #1
[lv_indev_enable](https://docs.lvgl.io/latest/en/html/overview/indev.html#_CPPv415lv_indev_enableP10lv_indev_tb) already exists and could be used for this purpose.

Have you looked at the code?
I would appreciate your feedback.

Yes, I did! Great work in general but two things looked problematic to me:
- The display driver still contains ESP related stuff. E.g. `esp_err_t`. My view is that the dis

[2020-07-14 15:12] zladay commented on #1
@kisvegabor

What are you referring to here? What purpose?

[2020-07-14 15:14] embeddedt commented on #1
`lv_indev_enable` can be used to suspend/resume the `lv_task` responsible for polling the input device.

[2020-07-14 16:10] zladay commented on #1
@kisvegabor

Not just the display driver. Everything is using the error handling policies of ESP-IDF including the TC stuff.
I did an exercise that had an objective of providing efficient and platform conform display and TC drivers for the ESP32 on ESP-IDF. Platform independency was not an objective, it was rather on the contrary.

As I wrote earlier, I am interested in extending this driver archi

[2020-07-14 16:40] zladay commented on #1
@kisvegabor

I think there is a misunderstanding here. I did not write an SPI driver. What I did write is a display driver. There is a need to transfer information between the MCU and the display controller. I did not want to write only the display driver in itself, since that would have been useless. If you have a look at the code, you can notice that the display driver is in a different unit (st

[2020-07-14 16:48] zladay commented on #1
@kisvegabor

I have no problem with that. Send me your version of the code. I would be happy to trash mine if yours:
- is simpler than mine
- is at least that efficient (or faster)
- the application does not need things like lvgl tasks pinned to a certain core, dubious and incomprehensible use of random semaphores in order to prevent crash landing

[2020-07-14 18:55] zladay commented on #1
@kisvegabor

I am not sure if I understand this correctly. What is "too specific"?
Specific means facilities only available here in ESP-IDF?

I was inspecting the code and tried to make an inventory of facilities used there. It is about the following:
- macros
- interrupt handlers
- gpio handling
- semaphores
- malloc()
- memset()
- structures
- pointers
- spi device initialization/removal api cal

[2020-07-14 19:32] zladay commented on #1
@kisvegabor

I was thinking about making this more generic,  and I realized that further reduction can be achieved.
If there is no async SPI transmit/receive (receive is already eliminated, current code does not use it either), we can get rid of the interrupt handlers also.
I think I can integrate the implementation of the functions which you gave the prototypes for.
Shall I refactor the code acco

[2020-07-15 10:01] zladay commented on #1
@kisvegabor

I started with the refactoring work according to the above recommendations. I am a bit confused with this approach, however.
Let us see the most frequently used command sequence with display controller communication.
This is in the flush function. The sequence here is the following:
    {CASET}{4 byte params}{RASET}{4 byte params}{RAMWR}{pixel buffer from lvgl}
If I understand you cor

[2020-07-15 10:47] zladay commented on #1
While doing the refactoring, I have encountered another problem with this approach.
Let us suppose that lvgl has multiple threads of execution. Multiple tasks can send flush requests to the driver in this case.
Let us inspect the scenario when a new flush request comes when the driver is waiting for the CASET command transmission to complete. We are past the following call in the execution of the

[2020-07-16 11:34] kisvegabor commented on #1
Just a simple question: do you want `disp_spi_exec_bundle` the generic display SPI interface from display drivers? That is the user needs to write this function to his platform to port the drivers?

If so it's also fine. In this cas the goal is to keep it as simple as possible. Some questions regarding `disp_spi_exec_bundle_t`:
- What is the purpose of the `sync` flag?
- Using a max command size (

[2020-07-16 16:22] zladay commented on #1
@kisvegabor

To talk to the display controller (e.g. ili9341 chip), we need to send commands. As seen in the above comment, it is a bit more than that. You need to have the ability to send command bundles (a sequence of commands) in a single unit, otherwise you get in trouble. To put it differently: the elementary transaction between the MCU (driver) and the display controller is a transmission of

[2020-07-16 16:40] zladay commented on #1
Just some addition to the previous comment.
The implementer (developer) of the transport object does not need to understand what the display does. Her only task is to make sure that the transaction (command sequence) she gets is transmitted to the display controller. It is, however, necessary that transactions are transmitted (to the controller) in the exact same order as given. (I am not talking

[2020-07-16 18:15] zladay commented on #1
@kisvegabor

If sync == true, it means that synchronization is requested. This means that the call should only return after the transmission of the transaction (to the controller) has already been completed. (This is useful e.g. after *reset* or at other stages of the initialization process.)
If sync == false, the call is expected to return ASAP, we do not want to wait for the completion of the tr

[2020-07-16 18:39] kisvegabor commented on #1
It solves out of bounds read. Problemeatic write could e.g. [here](https://github.com/zladay/lvgl_drivers_esp32/blob/f8584f819bf568dfcc4f5cb79dc944b1b2aedd21/components/stsd_common/stsd_common.c#L28) with many commands:
[code]

My suggestion is:
[code]

[2020-07-16 20:27] zladay commented on #1
I do not see a problem here. What you are suggesting here is (almost) the same as in the current code.
The difference is that you initialize the *disp_spi_command_bundle_t* (just a bit) differently.
The only difference is that *.size* is always correctly set as *.cmds* length.
However, *.cmds* is just a pointer to the beginning of the array of commands. The result is the same from memory allocatio

[2020-07-16 22:05] embeddedt commented on #1
I think @kisvegabor wants the API set up in such a way that it's hard for the user themselves to mess up.

[2020-07-16 23:25] zladay commented on #1
@embeddedt

I have never doubted that.
I wanted to say that there must be a misunderstanding, because there is no "problematic write".
There is no chance for buffer overflow (which would result in memory corruption).

What @kisvegabor suggested is not a change in the API, BTW. Everything is the same in his suggestion.

What he (I know that @kisvegabor is a male. BTW, I do not know your gender or y

[2020-07-27 20:58] zladay commented on #1
# Display Drivers Refactored
Some snippets from main.c:
[code]
Can you notice the difference from the previous version?
(The difference here may seem to be minor, but this required a complete rewrite of the display driver and the SPI transport stuff.)
How do you like it?

[2020-07-27 21:03] zladay commented on #1
I forgot to mention that the above stuff is tested and it works. If you like this, I will complete this (the special 9488 driver is not yet reworked, but the rest is ready), and trash the old stuff completely.

I am waiting for your feedback.

[2020-07-30 04:56] C47D commented on #1
Hi @zladay sorry for being so late about this.

I checked the code and found the display part of it somewhat similar to the code we have, I like the display configuration being stored into an struct, same for the input device (touch) configuration, the code on the lv_port_esp32 repo I think needs more works is the input device code.

I have some questions:
- With this approach, the menuconfig used

[2020-07-30 23:10] zladay commented on #1
@C47D

It is no wonder that the display code is similar. The way how the display communication is to be done is given (and documented in the data sheets). If you did it differently, it would not work.

Yes, the configuration is described in a *struct* and it is only a pointer that is given to the function that implements something. I think it is well structured and has the additional benefit that

[2020-07-30 23:17] embeddedt commented on #1
It's always `LV_COLOR_DEPTH`; the library always works with colors in that format.

I don't entirely understand. Can you explain in more detail why reentrancy is an issue with individual parameters as opposed to a `struct`? At the end of the day, it's still going to be containing a pointer to a single VDB buffer.

[2020-07-31 09:22] zladay commented on #1
@embeddedt

Yes, I am [aware](https://github.com/lvgl/lvgl_esp32_drivers/issues/1#issuecomment-653943506) of that.
This is the *flush callback* prototype:
[code]
I do not see any color buffer encoding (color depth at least) specification here.
Moreover, one of the [design objectives](https://github.com/lvgl/lvgl_esp32_drivers/issues/1#issuecomment-652948156) was that drivers have a layered archite

[2020-08-02 11:31] kisvegabor commented on #1
@zladay
Could you organize the project into directories like:
- disp
- touchpad
- platforms (with transports I guess)

Not sure these are the right name, just examples.

The goal would be to easily see where to add the custom (board/mcu/platform/framework) specific code and what are the independent part.

[2020-08-04 08:54] zladay commented on #1
@kisvegabor

I could, of course, reorganize this, but I do not want to. I fully agree on the opinion that it is not well structured, but there is a reason why it is how it is.
I wanted to divide parts of the code into ESP-IDF *components*. Such a *component* is defined by a folder (directory) and a CMakeLists.txt file sitting in it. (The content of that file matters, too, of course.). In ISP-IDF,

[2020-08-04 16:05] kisvegabor commented on #1
I see. However, the code size is not an issue as the unused components can be disabled via menuconfig.

What about one folder with names like "platforms" with files like "esp32.c" and later "stm32f4.c" etc.

BTW, in the filename of "stsd_common.c" what does "stsd" mean?

[2020-08-04 17:33] zladay commented on #1
@kisvegabor

How?

[2020-08-05 17:05] C47D commented on #1
This is just my personal opinion:
A complete rewrite of the esp32 drivers will take some time, and we can wait for it because it will improve the code by a lot, thanks @zladay. My hurry to move the driver code over here is because this repo has been empty for over a month and we had some users waiting for this.

I would like to propose some things:
- Move the code over here on the main branch.
- T

[2020-08-05 19:35] zladay commented on #1
@C47D

I am neither trying to argue against taking the public demo code here, nor trying to argue for it.
I am just attemping to give a view from a different perspective. There is no code here, but we are at comment number 92 already. We can not say that we did nothing. We can not even say that there is just a discussion, because the new code exists and it works. If we look at this repo as a place

[2020-08-05 22:12] zladay commented on #1
@kisvegabor

I was thinking about the [question](https://github.com/lvgl/lvgl_esp32_drivers/issues/1#issuecomment-669441631) of @C47D with regard to multiple displays.
I gave an answer based on the assumption that lvgl itself supports multiple concurrent displays indeed.
There  are some related questions. One such question is: Is it true that only one particular display can be in a state of "being

[2020-08-05 23:10] embeddedt commented on #1
The library is built with a single-threaded model in mind, so only one set of objects can be processed at a time. Hence there is no  major advantage to refreshing multiple displays.

Theoretically it would be possible to cache the buffers and render them in parallel but the assumption is that there normally isn't enough available RAM on the device to make this worthwhile.

[2020-08-06 00:23] zladay commented on #1
@embeddedt

Being it single-threaded does not preclude processing multiple set of objects "at a time".
As far as I understand, lvgl - although single threaded - uses an event loop type scheduler.
With that, it is possible to have a loop that iterates on display objects. If a display is in "being refreshed" state, there is nothing to do with that. The loop goes on to the next display. If display re

[2020-08-08 16:27] kisvegabor commented on #1
@zladay
The unused display and touch drivers are disabled like this.
Let's say in ili9341.c:
[code]

As far as I understand, lvgl - although single threaded - uses an event loop type scheduler.
With that, it is possible to have a loop that iterates on display objects. If a display is in "being refreshed" state, there is nothing to do with that. The loop goes on to the next display. If display refr

[2020-08-08 17:43] zladay commented on #1
@kisvegabor
# Drivers reorganization
## Touch controllers as plug-ins
As planned earlier, touch "subsystem" now supports a plug-in architecture similarly to the {display} - {display-transport} relation. Support code for a particular hardware (e.g. XPT2046) needs to implement a *touch controller* object with the appropriate interface. This controller "driver" has very little functionality. Apart fr

[2020-08-08 20:26] zladay commented on #1
@kisvegabor

First, I did not understand what you are referring to here. And after a couple if minutes thinking, I came to the conclusion that this is the response to the question how we could include/exclude unnecessary modules from the image (instead of using what the framework offers to use for this purpose).
Well, technically speaking, you are absolutely right, but this answer made me cry in p

[2020-08-11 07:33] kisvegabor commented on #1
@zladay
In the new architecture, I still can't see where to put my platform dependent part. Honestly, this the only part which is really important for me. The internals of drivers is not interesting for the users. They care about 2 things:
1. How to port it to my platform (add custom transport layer):
I understand that you're using ESP as an example system to see how things working together. Howev

[2020-08-23 23:03] zladay commented on #1
@kisvegabor @C47D
# Drivers reorganization - full object tree
As planned [before](https://github.com/lvgl/lvgl_esp32_drivers/issues/1#issuecomment-670955052), I have completed the reorganization of the driver architecture. New code is committed and pushed to GitHub.
The full object tree looks like this:
[code]
This is a snippet from main.c showing the driver initialization sequence:
[code]
The dev

[2020-08-24 00:31] embeddedt commented on #1
@zladay Could you comment on what @kisvegabor wrote above?

[2020-08-24 10:37] zladay commented on #1
@embeddedt

If you are referring to [this](https://github.com/lvgl/lvgl_esp32_drivers/issues/1#issuecomment-678730108), I did [here](https://github.com/lvgl/lvgl_esp32_drivers/issues/1#issuecomment-678836239), indeed.

[2020-08-25 08:04] kisvegabor commented on #1
@zladay
The architecture looks good in general.

I'm ok with OSAL and EHAL too on *driver level*. It might be possible to add OSAL to LVGL but it's quite complicated and needs serious and long consideration. Simply it's not on the roadmap now. We should discuss it later.
EHAL seems independent from LVGL itself as LVGL will never create errors such as `I2C_TIMEOUT`. These can come from the driver.

[2020-08-25 08:58] zladay commented on #1
@kisvegabor

Ok. The comment is then already [given](https://github.com/lvgl/lvgl_esp32_drivers/issues/1#issuecomment-679050475).

As far as the forum is concerned: I have registered to the forum at lvgl.io.
The [question](https://forum.lvgl.io/t/merge-display-and-input-drivers-from-lv-port-esp32-to-lv-drivers/3021)  is completely off topic and hard to understand. Does he want to use ESP32  driver

[2020-08-25 09:39] zladay commented on #1
@kisvegabor

Can you give some platform examples where C++ is not available?

On the other hand:
LVGL is an open source project. I understand that it is itself not making it necessary to use FOSS tools for development, but this is a natural choice.
GCC supports C++. It has support even for peculiar platforms like ESP (xtensa) and microchip/Atmel AVR.

[2020-08-26 12:10] kisvegabor commented on #1
"Someone" is now limited to Carlos and me. I have no ESP hardware now
I don't see why it is a big issue to make the drivers public in a dev branch.

Anyway if you could attach a zipped project, I'd try it on an ILI9341 display.

Regarding the C++ topic: Microchip has very weak support for C++. See [here](https://www.microchip.com/forums/m1053392.aspx). It seems for PIC32  C++ is [already free](htt

[2020-09-01 00:45] C47D commented on #1
If I understand correctly, he would like to know the required work to have the drivers (display and indev) available in the `lv_port_esp32` repo on the `lv_drivers` repository so they can use it with their NXP microcontroller.

I suggested them to take a look at this issue because I think the new architecture can achieve this, separate  the driver code from the mcu/platform code.

[2020-10-08 17:10] BFFonseca opened #16 "Using a third SPI peripheral with LVGLs Display and Touch drivers"
**Describe the issue**
I'm using an ESP32 with a ILI9341 driver display and a XPT2046 touch driver. They're both running on HSPI.

I'm trying to incorporate another SPI peripheral in the same bus (HSPI).

In the ESP32 documentation it says it is possible to have 3 peripherals per SPI bus.

When I try to use the same SPI bus for all of these, I get the error:
[code]

I am initializing the 3rd SPI p

[2020-12-20 22:50] Lisa999 opened #3 "disp_drv.rotated not working with ST7735 driver"
The problem is that the ST7735 display is 160x128 pixels.
So if you set:

- Landscape during compile time
- disp_drv.rotated = 1 in the code
- Swap display width and height in the code
- Call the ST7735 rotation function for a hardware rotate

It still is not working in portrait mode. The upper 128 pixels are working in portrait mode, the bottom 32 pixels are not functioning at all (pixel noise).

[2020-12-21 00:31] C47D opened #4 "Remove LV_DISPLAY_HEIGHT and LV_DISPLAY_WIDTH from Kconfig"
That option is available in LVGL Kconfig.

[2020-12-21 00:32] C47D opened #5 "Remove LV_DISPLAY_HEIGHT and LV_DISPLAY_WIDTH from display Kconfig"
That option is available in LVGL Kconfig.

[2020-12-24 18:09] liebman opened #7 "XPT2046 improvement discussion"
I've been having an issue with this input driver with spurious input events. This is where the IRQ line goes low for ~ 8us, measured with a scope.  Looking at other implementations I see that some compute the Z (or press pressure). Maybe this should only return a new input based on some Z threshold.

Now the datasheet is very confusing on this subject and gives formula that require knowing the X a

[2020-12-24 19:59] samuelbles07 opened #8 "RPi MPI3501 Compile error error: 'data' undeclared"
**Describe the issue**
Compile error using preconfigured `RPi MPI3501`.

**Code to reproduce the issue**

TFT Display controller config:
- Predifined display: RPi MPI3501
- SPI Bus: HSPI
- SIO (MOSI/MISO)
- HALF Duplex
- Landscape
- PIN: MOSI 23, CLK 18, CS 5, DC 12, RST 4

Touch controller config:
- XPT2046
- VSPI
- Others default

**Expected Results**
compile success

**Actual Results**
[code]

[2020-12-24 21:55] liebman commented on #7
I've created a PR that works (at least for me).....

[2020-12-25 17:15] C47D commented on #7
Hi @liebman, I have also had problems with that touch sensor, for any reason the IRQ doesn't go low on my screen, so I also tried to implement the touch detection based on the Z coordinate.

[2020-12-25 18:05] liebman commented on #7
Hmm - this patch still requires the IRQ.  My issue was lots of spurious IRQ with no touch.  Should be simple enough to have the IRQ pin be optional, I may have time to try that this weekend.  Downside will be more traffic on SPI, in my case I'm sharing SPI with the display so I like the IRQ at least telling me I don't need to read the display.

[2020-12-25 20:46] liebman commented on #7
@C47D it was easier than I expected.  If you enable the `Check touch pressure to validate LV_TOUCH_PIN_IRQ` option for xp2046 then there is an additional option `Only use touch pressure and not IRQ to detect a touch` that will ignore IRQ (the pin will not even be configured) and only use pressure to determine a touch.  Let me know how this works for you.

[2020-12-27 22:28] rvt opened #11 "Q: Is there an advantage using this instead of TFT_eSPI"
I have an existing project based on Arduino and I do have some experience with TFT_eSPI so I know how this works so I wonder if there is any advantage of using esp32_drivers instead of TFT_eSPI.
I want to drive a ILI9341 display at 240x320.

Reason I am asking is because from what I currently understand is when using esp32_drivers/lv_port_esp32 I have to use RTOS instead of Arduino but I can be to

[2020-12-28 01:52] C47D commented on #11
Hi @rvt,

This repo was initially created to show LVGL running in a ESP32 microcontroller (using an ILI9341 display), after some time more display controllers were added, as you already noticed this repo use the ESP-IDF framework from Espressif.

As far as I know the lvgl_esp32_drivers are coded to work with LVGL so they might be missing features available in TFT_eSPI.

[2020-12-28 08:59] rvt commented on #11
Hi @C47D I will play around with it and see what gives :) so far I am heaving fun coding the UI using SDL2 which works surprisingly well.

[2020-12-28 08:59] #11 closed

[2020-12-29 16:55] #4 closed

[2020-12-30 03:44] #7 closed

[2020-12-30 18:50] VedantParanjape commented on #5
Hi, I encountered issue due to this. It is misleading to have two different parameters controlling the size of a display.

When will this be fixed ?

[2020-12-31 04:04] C47D commented on #5
I will be able to work on this over the weekend. First weekend of 2021!

[2021-01-04 11:40] VedantParanjape commented on #5
Hi, sounds good. If you need any help let me know. I mean assign this issue to me.

[2021-01-04 20:54] C47D commented on #5
Hi, I will look into this today, I built the project yesterday and had no issues. I will let you know later today if I assign this to you.

[2021-01-05 06:21] VedantParanjape commented on #5
Cool, it builds okay. but the docs completely missed this.

So, my code worked on 1st December and then I was trying to make it run on 31st December and it didn't work and I spent a good one day scratching my head, as to why it won't work.

[2021-01-05 17:24] petestewardson-schneider opened #13 "Strange Adafruit TFT FeatherWing - 3.5" 480x320 issue"
Hi

I'm using the Adafruit 3.5"  TFT Featherwing with an Adafruit Huzzah32 board and having an issue.

The display appears to be working fine using this example code in that it it shows the write/list/chart example screens. However the touch operation is not working, and every 3s roughly the screen switches to the next of the three tabs in the example cycling around them. I am using the configurat

[2021-01-05 23:48] C47D commented on #13
The error comes from here:

https://github.com/lvgl/lvgl_esp32_drivers/blob/6b1e219a8711bba4439e06b738662be4f6d92ca1/lvgl_touch/stmpe610.c#L74-L78

`0x811` is the `STMPE_CHIP_ID` reset value, maybe the spi configuration isn't properly done.

[2021-01-06 09:43] petestewardson-schneider commented on #13
@C47D right I tried removing SPI_DEVICE_HALFDUPLEX and it hasn't changed things. I've also tried a 10k pulldown to ground on MISO as I couldn't find a 4.7k. So far neither has made a difference.

I do have a salae analyzer somewhere, I'll try to dig it out.

The display is working though and they're both on the same SPI bus so the comms should be working, has to be config on the touch device I thi

[2021-01-06 17:21] C47D commented on #5
Can you try switching the lvgl_esp32_drivers submodule on lv_port_esp32 to follow [this ](https://github.com/lvgl/lvgl_esp32_drivers/tree/remove_redundand_config) branch?

[2021-01-06 17:38] C47D commented on #13
I suggested removing the `SPI_DEVICE_HALFDUPLEX` flag because the communication is full duplex.

Sure, thanks, please send the capture so I can take a look at it.

Sharing the SPI gave me problems before, but I haven't had time to check the code, my pc was very slow and I gave up, we might be missing something silly on the configuration.

[2021-01-07 11:06] VedantParanjape commented on #5
I have been able to get it work for now, I'll wait till you merge into master

[2021-01-07 17:06] C47D commented on #5
Did you had any other issues? I haven't been able to test it with hardware, I only compiled the project.

[2021-01-07 20:28] VedantParanjape commented on #5
no other issues, it worked with ssd1306 oled 128x64 module.

[2021-01-07 21:54] C47D commented on #5
Nice, I will merge the branch.

[2021-01-08 08:42] VedantParanjape commented on #5
Hi, @C47D. but in many places the code was using the macros that were removed.

[2021-01-08 14:34] C47D commented on #5
Lvgl configuration have both `LV_HOR_RES_MAX` and `LV_VER_RES_MAX`,  `LV_DISPLAY_ORIENTATION` was kept on the configuration options.

Are you getting compilation errors?

[2021-01-09 05:44] VedantParanjape commented on #5
@C47D https://github.com/lvgl/lvgl_esp32_drivers/blob/1cda575dac44c25be62df821abfff0756dcb7dd3/lvgl_helpers.h#L41

You are still using `CONFIG_LV_DISPLAY_WIDTH` and `CONFIG_LV_DISPLAY_HEIGHT` in many places in code, but you removed it from kconfig, so I guess it will throw a error, right ?

[2021-01-09 20:45] C47D commented on #5
You're right, I don't know why the compilation didn't failed, maybe the undefined symbols are set to 0.

[2021-01-10 07:41] VedantParanjape commented on #5
It's going to be a nightmare to remove these. Just a suggestion, group all the macros from kconfig in one single header, easier to manage.

[2021-01-10 13:59] C47D commented on #5
I've already removed all references to those symbols, I forgot the name of the branch I've used.

There's a lot of cleanup on the code base, the ultimate goal is to add all of the drivers into lv_drivers, for that we need to make them mcu/framework independent.

[2021-01-11 05:26] VedantParanjape commented on #5
You could look at HAL used by u8g2

[2021-01-11 18:53] VedantParanjape commented on #5
Don't know if this is relevant in this issue, let me know if you want me to move to new issue.

here's my code: https://pastebin.com/6EQgP0Dh

when I boot my board, it shows a static text "Text" on the upper left corner of the screen as follows

![IMG_20210112_001739](https://user-images.githubusercontent.com/22630228/104225340-4540ae00-546c-11eb-8407-1ed9d180b05d.jpg)

[2021-01-11 19:28] C47D commented on #5
@VedantParanjape let's move it into a new issue. Have you configured LV_SPRINTF_FLOAT_DISABLE? You're using a float format on your label.

[2021-01-11 19:58] VedantParanjape commented on #5
Cool. I'll create a new issue in the main repository 👍🏻

Ah, that was a typo, I'll fix it.

[2021-01-11 23:01] C47D commented on #5
Ok, let's follow over there.

[2021-01-12 19:41] rvt opened #18 "Question: platformio support recommendation together for Arduino"
I am trying to use this using platformio with Arduino framework but I noticed that when I reference to this repository that all driver headers and c files are compiled. However, this is an issue when you just want to use one single driver (in my case ILI9341) because a lot of macro´s are not defined, specially a lot of error around EVE_XXX macro´s and what not.
I think this is because the header/c

[2021-01-12 21:43] liebman commented on #18
This is setup for `framework = espidf` and not `framework = arduino`.

[2021-01-12 22:07] C47D commented on #18
Pretty much what @liebman said, we are planning to move most of the drivers to the `lv_drivers` repo, but it will take a while.

I think people have been able to use the Platformio + Arduino+ LVGL + [TFT_eSPI](https://github.com/Bodmer/TFT_eSPI)

[2021-01-14 16:26] rvt commented on #18
I have used the TFT_eSPI but did not want to use that dependency, I only have some evidence from memory, but size of the firmware was a tad larger.

I believe your suggestion if using conditional compilation would work.
What could also work is providing defaults for all drivers so you don't get compile errors and let the linker decide what code is used and what not (I think  -Os takes care of that

[2021-01-14 16:26] #18 closed

[2021-01-15 06:08] #5 closed

[2021-01-15 21:49] VedantParanjape opened #20 "Display orientation doesn't change on ssd1306 on setting through menuconfig"
Display doesn't rotate on setting the option through menuconfig.

[code]

on changing init function as follows, the display rotates. Should I add the following feature through a PR ?

on line 150, in ssd1306.c, you have done this, there's no use of the macro, both if/else have the same code written, should this be removed ?
[code]

[2021-01-16 05:25] C47D commented on #20
I would rather use the `rotated` field on the `lv_disp_drv_t` pointer to know if the user wants to rotate the display, and yes, I'm working on improving the SSD1306 driver but haven't pushed anything to here.

[2021-01-16 08:03] VedantParanjape commented on #20
rotated field rotates the display by 90 degree, I want 180 degree rotation. Can this be done using rotated field ?

[2021-01-16 22:35] C47D opened #21 "Document rotation support on display drivers README section"
For some displays the rotation of the image can be accomplished by sending a command to the driver, while on others the display driver code need to swap the pixels.

Currently not all the drivers have rotation support, and some others relied on Kconfig options that are no longer available, two of those options are now in the LVGL configuration, `LV_HOR_RES_MAX` and `LV_VER_RES_MAX`.

So we need to

[2021-01-17 02:17] C47D commented on #20
I see, is this the code that you added to make it 180° rotated? It's at the `ssd1306_init` function.
[code]

I was working on adding partial update support and removed that part of the code.

I don't want to sound rude neither, but I only do this in my free time, and we have very different time zones lol.

[2021-01-17 02:42] C47D commented on #20
b7e1b51c7358f8a4738666a263a14a1cd3088131 should let you select portrait inverted orientation on the menuconfig and get the display rotated, let me know if it's works for you.

[2021-01-17 05:23] VedantParanjape commented on #20
Cool, I'll check this, we can actually rotate the screen on fly. Maybe we can have such a function, will be more flexible.

[2021-01-17 15:20] C47D commented on #20
I can try adding a function to rotate in 180°, in 90° would be different.

[2021-01-17 19:27] VedantParanjape commented on #20
90° rotation for ssd1306 can be handled through software I guess. Cool.

[2021-01-19 20:45] C47D commented on #20
Yes, I think so, we did something similar for the IL3820 driver.

Is there anything else we can do to close the issue?

[2021-01-20 19:29] VedantParanjape commented on #20
Oh, sorry. My issue is solved. I'll close it.

[2021-01-20 19:29] #20 closed

[2021-02-02 11:12] Mair opened #36 "lvgl/lvgl.h: No such file or directory when using FT81X"
**Describe the issue**
When building the project, if I use a development board such as the WROVER kit v4.1 it builds correclty however, if I select to use a screen driver such as the FT81x I get a compilation error

**Code to reproduce the issue**
standard git clone (with recursion) on master

**Expected Results**
build correcltly

**Actual Results**
[code]

**ESP32 Chip version**
N/A

**ESP-IDF v

[2021-02-02 17:19] jockm opened #27 "Question: Why is the default buffer size for the ILI9341 larger than for similar display controllers in lvgl_helpers.h?"
If we look in `lvgl_helpers.h` where `DISP_BUF_SIZE` is set/calculated you will see:

[code]

Why is the `DISP_BUF_SIZE` 1.6x that of similar controllers?  I find it odd because it is very common for for ILI9341 based displays to be 320x240 and 64 doesn't divide cleanly into 240.  64 does however divide cleanly into 320, as in 480x320 displays we see associated the the ILI9486/8.

Also is there a

[2021-02-03 00:56] jockm opened #28 "ESP32-S2 Projects cannot use pin numbers higher than 39 when configuring through menuconfig"
The ESP32-S2 has more available GPIOs than the ESP32, but menuconfig only allows assigning pins 0-39.

It remains clear that no testing or consideration of the -S2 chip has been given.

Again I must stress the need to publicly document that the -S2 chip is currently unsupported

[2021-02-04 06:28] C47D commented on #28
I've pushed a couple of commits that should allow you to select pins from 0 to 43 in the [fix/esp32-s2-gpios](https://github.com/lvgl/lvgl_esp32_drivers/tree/fix/esp32-s2-gpios)

![imagen](https://user-images.githubusercontent.com/11037705/106853626-a2044280-667f-11eb-9f9f-dba68f3a5c21.png)

Can you test it? You can do it by fetching the `lvgl_esp32_drivers` repo and then `git checkout --track ori

[2021-02-04 14:54] jockm commented on #28
Works perfectly tested as both ESP32 and ESP32-S2 to see the pin ranges were appropriate for each, and looked at each pin assignments.  All good.  Ship It! ;)

[2021-02-04 15:58] C47D commented on #28
Told you this issue was the easiest one.

[2021-02-04 15:59] #28 closed

[2021-02-08 00:04] C47D commented on #27
@jockm Can you check if #30 works for you?

[2021-02-08 01:27] cmumford opened #31 "Unable to use multiple display types."
LVGL supports multiple displays, but lvgl_esp32_drivers will only compile one of the TFT display drivers, and there is no way to enable more than one display via menuconfig. CMakeLists.txt will only build one TFT driver ([see source](https://github.com/lvgl/lvgl_esp32_drivers/blob/9cd4a2d4c86729eed5237dd1cba6117debf9a368/lvgl_tft/CMakeLists.txt#L7)) and lvgl_helpers.c is coupled to the one enabled

[2021-02-08 03:56] C47D commented on #31
Hi,

I was working on that but had to solve some other issues. I was thinking on enabling the display controller related code and let the users do the configuration by themselves, as you already know the repo only works with one display in the project.

What displays do you need on your project?

[2021-02-08 04:26] cmumford commented on #31
My main display is a ILI9341, and supplemental is SSD1306.

[2021-02-09 13:16] tore-espressif opened #33 "ILI9341 inversion on ESP32-Wrover-Kit"
Hello,

ILI9341 display on ESP32-Wrover-Kit is always inverted, regardless off the settings `Display orientation` in menuconfig.
Problem lays on [line 232](https://github.com/lvgl/lvgl_esp32_drivers/blob/master/lvgl_tft/ili9341.c#L232) where correctly it should be
[code]

Nevertheless, I don't consider this solution satisfactory. This is screenshot from [ILI9341 datasheet](https://cdn-shop.adafrui

[2021-02-09 15:58] C47D commented on #27
Ok, I will merge it, thanks for the feedback!

[2021-02-09 15:59] #27 closed

[2021-02-09 22:00] C47D commented on #31
Ok, we are expecting some updates on the CMakeLists.txt file, so after that I can work on adding support for multiple displays on the project. I have not worked on a multiple-display project, so I would like to ask @kisvegabor and @embeddedt for tips on how can we improve this repo and `lv_port_esp32` to support that.

[2021-02-11 19:11] C47D commented on #36
@tore-espressif Moved and thanks for the hint on were it broke!

[2021-02-11 20:57] Mair commented on #36
@tore-espressif and @C47D
Thanks guys

[2021-02-12 06:51] coztemur commented on #36
@Mair , @tore-espressif , @C47D
Thanks you very much for your support...

[2021-02-12 07:31] Mair commented on #36
@C47D Can you add a link to the issue / commit here?
Thanks

[2021-02-12 07:52] tore-espressif opened #38 "ST7789 color inversion"
For reasons unknown (missing git history) ST7789 driver inverts colors by default:

https://github.com/lvgl/lvgl_esp32_drivers/blob/master/lvgl_tft/st7789.c#L68

This has to be made configurable.

This is more-or-less a feature request, as most of the LCD displays support color inversion.

[2021-02-12 14:10] #36 closed

[2021-02-12 14:10] #38 closed

[2021-02-12 14:13] C47D commented on #36
@Mair a proposed fix was just merged into master, so you should be able to test it.

[2021-02-12 15:49] C47D commented on #38
The git history was lost when we moved the `lvgl_esp32_drivers` content from the `lv_port_esp32` repo into it's own repo (this one). I didn't knew on how to do it properly.

[2021-02-12 16:14] C47D opened #40 "Kconfig refactoring"
Yes, I've seen the request, but it is going to be far more complicated than that.

Currently all KConfig options are global: display orientation, connection(I2C/SPI), pinout, color inversion.... A mere addition of the .c file to compilation list will not be sufficient.

~~Even LVGL itself is compiled with fixed resolution.~~
EDIT: LVGL supports [multiple screen](https://docs.lvgl.io/latest/en/html

[2021-02-12 16:17] C47D commented on #40
There's multiple improvement opportunities for this repo, and I think we could start by refactoring the Kconfig files to enable the usage of multiple displays in the same project, as this is one of the LVGL features that we're still missing.

@tore-espressif Do you think making this options

configurable in code rather than Kconfig based a better approach?

Any thoughts @kisvegabor @embeddedt @cmu

[2021-02-12 18:26] cmumford commented on #40
My guess is that the large majority of LVGL users have a single screen. So, whatever is done should't make their lives more complicated. I wouldn't think having a list of screens would be too bad.

It would be nice to take a few settings which are part of "LVGL configuration" and move them into the "LVGL TFT Display controller" section as these values seem specific to a display, namely:

1. DPI
2.

[2021-02-12 19:53] embeddedt commented on #40
I would suggest not using Kconfig for this. Kconfig is not a very dynamic configuration language. While it does support hiding/showing options based on dependencies, the options all have to be declared in advance. There is no way I can think of for a user to add another display in a flexible enough way.

[2021-02-13 08:17] tore-espressif commented on #40
### Point 1
Refactoring the whole system might bring benefits, but regression risk here is huge:

1. I don't have all the LCDs on my desk
2. Manpower?
3. No automated build
4. No automated tests

If we don't want to ditch this idea, then setting up a build GitHub action should be a first step. Issues from users like 'example code not compiling' would outweight potential benefits.

### Point 2
Movi

[2021-02-14 00:48] C47D commented on #40
The issue with moving options from LVGL to DISPLAY is that other projects are already using the LVGL Kconfig, as @tore-espressif pointed out, as far as I know the Nuttx project also uses it.

The final goal of this repo was to make the drivers generic enough so they can be later moved into lv_drivers and users of other platforms would be able to use them, we might need take that into consideration

[2021-02-14 00:50] embeddedt commented on #40
If you can give me a sequence of commands to run with a fresh copy of ESP-IDF, I'd be happy to try and configure the GitHub action for you.

[2021-02-14 00:53] C47D commented on #40
@embeddedt Thanks, getting ESP-IDF up and running would be great.

Would we also need to create different configurations with different displays and indev drivers so we compile them in the action?

[2021-02-14 00:54] embeddedt commented on #40
I think so, since `menuconfig` wouldn't be available at CI time.

[2021-02-15 19:39] kisvegabor commented on #40
In LVGL I used a [python script](https://github.com/lvgl/lvgl/blob/master/tests/build.py) with a lot of configs options to build lvgl and run tests. Something similar can be done here as well.

I think we need to keep these options in LVGL as LVGL needs to work on its own (without any other repo) as well and these defines are required to build LVGL.

Zephyr and NuttX use LVGL only with Kconfig wit

[2021-02-15 20:21] VedantParanjape commented on #40
@C47D I have a ready setup for esp-idf: https://github.com/SRA-VJTI/sra-board-component/blob/main/.github/workflows/test-build-app.yaml

It compiles the example apps using the component.

[2021-02-15 22:06] tore-espressif commented on #40
Another thing is that ESP-IDF build system is ATM not suited for building static libraries, so we would have to run the build in a repository that contains whole project, e.g.  https://github.com/lvgl/lv_port_esp32 (or create a test project here) and build it separately for every LCD driver (see here https://github.com/lvgl/lvgl_esp32_drivers/blob/master/lvgl_tft/disp_driver.c#L8 for example).

Op

[2021-02-15 22:10] embeddedt commented on #40
As far as I know the tests are more like coverage/unit tests where they check that certain behavior happens. LVGL runs in a headless application within the CI runner and it checks whether functions return correct values, etc.

[2021-02-16 05:43] VedantParanjape commented on #40
It won't work with esp-idf, it has a unit test framework, but you need a hard hooked up to run it. For CI/CD only way to check is if it compiles correctly, After all you can simulate all the minute details in a simulator.

[2021-02-16 15:00] kisvegabor commented on #40
If we are targeting only build tests (to see if to an error in various configurations) we can event stub ESP-IDF. After all, there are only a few API calls we rely on.

ATM, in LVGL we are using the tests only as build tests. However, in the near future, we will add more "real" functional tests (mainly screenshot compares for first).

[2021-02-27 20:40] C47D opened #44 "Roadmap"
The main reason for creating this repository with the driver controllers (display and indev) from `lv_port_esp32` was eventually contribute the drivers to the `lv_drivers` repo (then we could use that repo as submodule here, and other LVGL users could use their microcontroller of choice and have many drivers already available).

In order to achieve this, we would need to abstract the microcontroll

[2021-03-01 13:37] kisvegabor commented on #44
I thought it's only a temporary repo, and `lv_drivers` could be used directly in `lv_port_esp32` in the end as well. Have I missed something?

It seems "working" well. [lv_templ.c](https://github.com/lvgl/lvgl/blob/master/src/lv_misc/lv_templ.c) and [lv_templ.h](https://github.com/lvgl/lvgl/blob/master/src/lv_misc/lv_templ.c) also could be used.

Do you mean e.g. ESP's error handling and logging?

[2021-03-02 04:28] C47D commented on #44
Hi,

This "technique" can't be used with display and indev drivers though because more displays and/or input devices can be active at a time.

I asked because of this, what I was thinking on is this repo provide the callbacks for ESP32 microcontrollers, and `lv_drivers` having no mcu-specific code. If a user wants to use another set of callbacks they can register their callbacks and not modify `lv

[2021-03-02 20:45] kisvegabor commented on #44
IMO a larger monolithic repo would work better here even for platform-specific parts. Some reasons I see:
- It's easier for users to find everything in one place
- It's easier to maintain and keep the parts in sync
- No versioning issues between the platform package and the driver package
- Contributors are concentrated into one place

[2021-03-03 21:44] C47D commented on #44
I will try to work on the directory restructure first, I got almost no free time because work

[2021-03-05 16:02] kisvegabor commented on #44
Just take your time :slightly_smiling_face:

[2021-03-13 06:03] neg2led opened #48 "SSD1306 menuconfig/kconfig broken"
recent commit https://github.com/lvgl/lvgl_esp32_drivers/commit/9fed1cc47b5a45fec6bae08b55d2147d3b50260c conflicts somewhat with this block in kconfig:
https://github.com/lvgl/lvgl_esp32_drivers/blob/9fed1cc47b5a45fec6bae08b55d2147d3b50260c/lvgl_tft/Kconfig#L186-L206

kconfig does not actually _set_ `CONFIG_LV_DISPLAY_ORIENTATION_LANDSCAPE` or `CONFIG_LV_DISPLAY_ORIENTATION_LANDSCAPE_INVERTED`, it

[2021-03-14 22:22] C47D commented on #48
Hi,
Thanks for the report, I have been really busy with day work, but will fix it and update the demo project.

[2021-03-19 11:46] neg2led commented on #48
Hi, sorry, I thought I'd replied to this already... Yes, that's exactly what I did in my fork to fix it (revert of previous commit that changed those two lines). Works fine with that change 😄

[2021-03-19 17:38] #48 closed

[2021-03-24 19:28] AntonPill opened #50 "Kconfig settings for TTGO T-Display faulty"
I discovered a problem when configuring a TTGO T-Display with menuconfig. when selecting the predefined Display setting.
First: the Items LV_TFT_DISPLAY_X_OFFSET and LV_TFT_DISPLAY_Y_OFFSET are not set correctly because of different item names DISPLAY_ORIENTATION_PORTRAIT vs. LV_DISPLAY_ORIENTATION_PORTRAIT and so on in  config LV_DISPLAY_ORIENTATION. After adding the "LV_" to the items in config

[2021-03-30 21:40] ihouses opened #51 "Compilation errors in lvgl_helpers.c"
I got some compilation errors in  lvgl_helpers.c

First:

#ifdef LV_LVGL_H_INCLUDE_SIMPLE
#include "src/core/lv_refr.h"      instead of  #include "src/**lv_core**/lv_refr.h"
#else
#include "lvgl/src/core/lv_refr.h"   instead of   #include "lvgl/src/**lv_core**/lv_refr.h"
#endif

The I get as well this:

../components/lvgl_esp32_drivers/lvgl_helpers.c:56:57: error: 'LV_HOR_RES_MAX' undeclared (firs

[2021-03-31 11:37] Trackhe opened #52 "Build. Error"
I followed the readme. Add submodules in components etc. and configure it.
Then i get the compile error.

[code]

[2021-03-31 11:49] kisvegabor commented on #52
You should use lvgl from the `release/v7` branch.

[2021-04-03 17:31] #52 closed

[2021-04-04 10:51] Alnef opened #53 "SSD1306 Wrong contrast initialisation and display mode"
In the function `void ssd1306_init(void)` the configuration seems wrong:
[code]
We can see that the double byte command `OLED_CMD_SET_CONTRAST` (SSD1306 datasheet rev 1.1 p.28) is followed by `display_mode`.
So the contrast is set to 0xA6 or 0xA7 depending on the display mode configured and the display mode isn't configurable.

The fix that worked for me is to invert `display_mode` and `0xFF`:
[co

[2021-04-09 08:50] tore-espressif commented on #53
Can you please submit a Pull Request for this? Thanks!

[2021-04-09 20:48] Trackhe opened #54 "Touch on ESP32 Wroover and ILI9341 + XPT2046 not working."
I use the espressif framework,
lvgl and
lvgl_esp32_driver
and use it over HSPI

I have also loaded TFT_eSPI and here the touch is working. but after running
    lv_init();
    lvgl_driver_init();

the init messages coming up in the monitor but the touch is not working.

[2021-04-19 13:04] ammaree opened #56 "Support for TK043F1569"
### Introduce the problem

I recently purchased 2x displays with adapters to use with the ESP32 DevKit V4 (WROVER-IE) and the Espressif LCDKit v1.1
Based on advice from EspressIf (TK043F1508 ) and from users (link below) I ordered what I thought was the correct module.
[https://github.com/espressif/esp-iot-solution/issues/89#issue-674226075](url)

I purchased the display modules from the following

[2021-04-19 13:05] kisvegabor commented on #56
I've moved the issue to `lvgl_esp32_drivers` as this topic tightly related to ESP32.

[2021-04-21 11:06] ammaree commented on #56
Hi @kisvegabor

Thanks for moving this, appreciated. Not being and LCD/LED/display technology expert I am unable to evaluate whether this display can work at all, or not. If you can you possibly advice on the following questions it will helps make a decision whether to abort the project and restart with different controllers.

Q1. Is it technically feasible to write a display driver to use this co

[2021-04-22 13:52] kisvegabor commented on #56
Hi,

I'm don't know this kit and the lg4572 controller.

Looking into the datasheet you have linked the controller has SPI mode. See "5.5 SPI (Serial Peripheral Interface)".

However, from the photo of the module, it seems you can't select SPI mode, because only parallel modes are listed in the table
(IM0..IM3).
It might happen that the SPI mode works if you select it but it's not clear. :slightly

[2021-04-25 20:33] joshka opened #57 "M5Stack Core2"
I'm cutting this issue to attempt to get some feedback on how this works with the M5Stack Core2 (and to highlight a few differences / give some real world thoughs that could help the future refactoring efforts in #1 and #44.

I have an M5Stack Core2, which is fairly similar to the M5Stack Basic, however a few of the GPIOs change, and some move to being on the attached AXP192 power chip (driven ove

[2021-04-26 16:46] sieren commented on #57
If it's of any help, many of these changes (incl. a nasty hack for the APX/I2C issue) are demonstrated in this repo: https://github.com/usedbytes/m5core2-basic-idf

[2021-04-26 23:04] joshka commented on #57
Neat - thanks for those links :)

[2021-04-27 07:05] Trackhe commented on #54
https://github.com/lvgl/lv_port_esp32/issues/273
I got the touch working. But the Ili9341 DP become grafik glitches with the benchmark. and the touch is working. the dp 3.5 zoll deisplays all correctly but the touch is not working. only x0 y0

[2021-04-27 11:32] tore-espressif commented on #57
Hello @joshka ,

thanks for those points.

I agree that support for soft-reset should be added (currently it is supported only in ST7789 driver) for HW usecases that don't connect RST pin of the display to the MCU. See [ILI9341 datasheet chapter 8.2.2.](https://cdn-shop.adafruit.com/datasheets/ILI9341.pdf). Is that what you had in mind?

If someone wants to reset the display via AXP192, then I'd s

[2021-04-27 14:45] C47D commented on #57
Hi all,

I was doing a software reset as a fallback in [here](https://github.com/C47D/psoc_lvgl/blob/master/ili9341/ili9341.c#L125-L137):

[code]

That driver have another set of features I was playing with to improve the driver MCU abstraction

[2021-04-29 00:22] joshka commented on #57
My idea is closer to the code written by @C47D, a callback that can be passed in that performs the hw reset, which is called when the reset needs to happen.

[2021-04-29 08:33] tore-espressif commented on #54
@Trackhe  can we close this issue too or is there anything left to solve?

[2021-04-29 08:37] Trackhe commented on #54
the touch from the 3.5 zoll dp is not working. only the 2.8zoll dp. the touch controllers are the same. but the 3.5 zoll dp has the resolution 480x320 that was the reason why i had wrong values for the 2.8 zoll dp

[2021-04-29 19:55] Trackhe commented on #54
I guess i reopen the ticket if i have time to figure it out. Thank you for your nice Support. @tore-espressif

[2021-04-29 19:55] #54 closed

[2021-05-06 23:46] jhnlmn opened #60 "Allow little-endian for ST7789"
I found that I can insert
        {ST7789_DISPON, {0}, 0x80}, //existing line
#if LV_COLOR_16_SWAP == 0            // Test: enable little endian.
        {ST7789_RAMCTRL, {0, 8}, 2}, // Test: enable little endian.
#endif                               //DL:  enable little endian.
        {0, {0}, 0xff}, //existing line
to st7789_init_cmds in st7789.c
and now I can build with CONFIG_LV_COLOR_16_SWAP

[2021-05-07 00:32] C47D commented on #60
Hi, I will try to add support for it and remove the static from the functions so you can add custom configuration, this weekend I might be free.

[2021-05-10 02:32] C47D commented on #60
I've pushed the branch `st7789_expose_cmd_api` where `st7789_send_cmd` and `st7789_send_data` are available outside `st7789.c`, can you test it?

[2021-05-10 02:36] C47D commented on #53
Sorry for the very late merge of the request @Alnef, life happened and I haven't checking the project lately. Feel free to close the issue if everything is working with your patch 😄

[2021-05-10 02:41] C47D commented on #57
@joshka Just checked the hax on the @usedbytes repo, I think it would be better to add support for the M5Core2 kit instead of changing the display orientation array. What do you think?

[2021-05-11 08:08] #33 closed

[2021-05-18 06:03] jhnlmn commented on #60
Yes
I added
    #if LV_COLOR_16_SWAP==0
    //CONFIG_LV_COLOR_16_SWAP=n is more efficient for little endian platforms
    st7789_send_cmd(ST7789_RAMCTRL);
    st7789_send_data( (uint8_t[]) {0, 8}, 2);
    #endif
to guiTask in main.c
and it works OK for both
CONFIG_LV_COLOR_16_SWAP=n
and
CONFIG_LV_COLOR_16_SWAP=y
I recommend CONFIG_LV_COLOR_16_SWAP=n
- code is smaller and more efficient.

Also, I s

[2021-05-18 20:25] spierepf opened #61 "How do I tell lvgl that I only want to compile the driver for my ILI9488 board?"
I've added `-D CONFIG_LV_TFT_DISPLAY_CONTROLLER_ILI9488` to my build flags, however, lvgl insists on compiling all the drivers regardless. This leads to errors in drivers that I'm just not interested in like:

[code]

Is there a reason that chip-specific files don't honor the `CONFIG_LB_TFT_DISPLAY_CONTROLLER_*` flags?

Is there a better way to work around this issue besides renaming all the files

[2021-05-19 12:53] tore-espressif commented on #61
Hello @spierepf ,
This should be handled in https://github.com/lvgl/lvgl_esp32_drivers/blob/master/CMakeLists.txt

Could you please share your project's `sdkconfig` file (located in root of your project)?

[2021-05-19 17:09] tore-espressif commented on #61
If you are using GNU Make, then there seems to be a bug:

Try deleting `lvgl_tft` on this line https://github.com/lvgl/lvgl_esp32_drivers/blob/master/component.mk#L4

[2021-05-20 14:26] tore-espressif commented on #44
Hello @C47D @kisvegabor

Recently a new ESP-LCD component was introduced, see [here](https://github.com/espressif/esp-idf/tree/master/components/esp_lcd), there is a basic LVGL example in [test](https://github.com/espressif/esp-idf/tree/master/components/esp_lcd/test) folder.

The main idea is to provide driver for **LCD SystemOnChip level** and to provide modular architecture: a universal panel h

[2021-05-20 14:44] C47D commented on #44
Hi @tore-espressif , thanks for the heads up, I guess this feature is available on the latest ESP-IDF only, or it can be backported to previous versions?

This repo was meant to somewhat upstream the esp drivers into lv_drivers repo, but life happened and my free time is spare. If we can still have MCU independent drivers and use them with the new ESP-LCD component it would be great.

[2021-05-21 18:55] Onion2222 commented on #50
Same problem

[2021-05-22 16:08] Alnef commented on #53
Thanks! It's working for me so I close the issue!

[2021-05-22 16:08] #53 closed

[2021-05-23 20:39] spierepf commented on #61
Thanks @tore-espressif! I finally got it working. I needed to get the menuconfig option in platformio to work, and once I did I managed to make everything go. I posted my steps here: https://forum.lvgl.io/t/how-do-i-set-up-lv-platformio-with-lv-port-esp32/5542 in case others bump into a similar issue.

[2021-05-23 20:39] #61 closed

[2021-05-25 07:59] linkineo opened #62 "nscreen32 support"
I could make my app work on an esp32-wrover kit without any problems thanks to your great lib.
I then ordered the nscreen32, the "1st lvgl certified board in the world", but there seems to be no predefined configuration in menuconfig for it. Even if it's ST7796 TFT controller is available in the options, the Goodix touch controller does not seem supported yet.
Also, the [code](https://github.com/y

[2021-05-25 11:11] kisvegabor commented on #62
I've notified the author of the NScreen32.

[2021-05-25 13:15] simonchen007 commented on #62
@linkineo  , the driver of Nscreen32 is here:
https://github.com/yeacreate-opensources/Nscreen_32/blob/master/lvgl_demo/src/gt911.cpp

we will try to port it to https://github.com/lvgl/lvgl_esp32_drivers

[2021-05-25 15:32] linkineo commented on #62
@simonchen007 thanks for your reply.
This is the driver for the Goodix touch controller only, right ? Also, it is made for Wiring/Arduino, so it won't work as an esp32 component out of the box.
What would be nice is to have something equivalent in the esp-idf menuconfig of the lvgl driver that enables to select the Nscreen32, with the consequence of correctly setting all pins and settings for lvgl

[2021-05-26 01:26] simonchen007 commented on #62
@linkineo
Thing is that, we have developed it as component of ESP-IDF when we making the ST7796 driver before. but very low performed we got, in this case we stopped develop the ESP-IDF component. And move all codes to Arduino (esp32-arduino can have about 2-3 times performed). Now , we have to check out old codes(the ESP-IDF component version).

[2021-05-26 09:06] linkineo commented on #62
@simonchen007 ok I understand. I was just asking because esp-idf compatibility is promoted on this [page](https://blog.lvgl.io/2021-03-23/yeacreate-nscreen32-review).
Anyway, what could be helpful as a starter would just be to post a sample menuconfig for a given version of the lvgl_esp32_drivers that could allow seeing the performance for ourselves and maybe improve together. This would just enta

[2021-05-26 10:01] kisvegabor commented on #62
Oh, my bad, sorry. Just fixed it.

[2021-05-31 13:30] maxromanovsky opened #64 "Support of 8 / 16 bit parallel bus for ESP32"
I recently bought a tft lcd display with ili9341 driver with 16 bit interface (no spi interface), could you please guide me to use this display with esp 32.
Similar to https://github.com/Bodmer/TFT_eSPI/issues/599

Product info and pinout: http://www.lcdwiki.com/2.4inch_16BIT_Module_ILI9341_SKU:MRB2408

![Screenshot 2021-05-31 at 15 30 08](https://user-images.githubusercontent.com/749775/120200885

[2021-06-03 02:43] martinberlin commented on #3
Sorry for last two mentions, I didn’t intend too, never though from a fork the parent repo issues are touched.

[2021-06-06 19:57] frhun opened #65 "Allow for manual offset setting, and automatic swapping of resoultion and offsets when changing screen orientation"
While trying to set up the library for the TTGO T-DISPLAY i ran into the problem that the premade config didn't work (which is another issue in it self https://github.com/lvgl/lvgl_esp32_drivers/issues/50).
To get around this, i instead just tried to configure everything manually, but then ran into the problem that that also didn't work, because the offset settings needed for the display used on t

[2021-06-07 14:29] frhun opened #66 "lv_disp_flush_ready() call missing from several flush callbacks"
Many if not most of the chipset drivers's flush callbacks are missing the `lv_disp_flush_ready()` call mandated by lvgl ( see [here](https://docs.lvgl.io/7.11/porting/display.html?highlight=lv_disp_flush_ready#display-driver) ).

Is there any particular reason for this, or is it actually an oversight?

[2021-06-08 02:41] C47D commented on #66
Hi @frhun,

That call is being made in the SPI interrupt "callback", see https://github.com/lvgl/lvgl_esp32_drivers/blob/cccb932d3c8b0035632bfff866d242308d0ce167/lvgl_tft/disp_spi.c#L313

This interrupt callback is ESP32 specific.

[2021-06-08 02:43] C47D commented on #51
Working on it @embeddedt ... 🕐

[2021-06-08 02:46] C47D opened #68 "Necessary updates for LVGL v8"
@tore-espressif @kisvegabor @embeddedt
Is there anything special we should add to the drivers in order to support v8? Here's a list of what I think is necessary:

- [ ] Orientation awareness: Current rotation doesn't align with LVGL orientation, we have portrait, portrait inverted, landscape and landscape inverted, LVGL has orientation in 90° rotation.

[2021-06-08 03:01] C47D commented on #51
@ihouses Can you test the https://github.com/lvgl/lvgl_esp32_drivers/tree/feature/v8_support branch? I've added checks for the issues you've mentioned, but I don't have a setup to test them.

[2021-06-08 13:45] frhun commented on #66
Ah, thanks. I missed that.

[2021-06-08 13:45] #66 closed

[2021-06-08 14:49] C47D commented on #50
Hi, I will try to fix this in the coming days, thanks for your patience.

[2021-06-09 12:40] kisvegabor commented on #68
There are minor changes on how the drivers are initialized. See [here](https://github.com/lvgl/lvgl/blob/master/docs/CHANGELOG.md#driver-changes).

[2021-06-13 20:10] C47D commented on #68
I think we also should update the rotate function on the drivers that has it, because the LVGL rotations are in 90° steps and it's different as we currently do it.

[2021-06-14 12:40] kisvegabor commented on #68
I agree.

[2021-06-15 18:02] ropg opened #71 "`LV_HOR_RES_MAX` and `LV_VER_RES_MAX`"
`LV_HOR_RES_MAX` and `LV_VER_RES_MAX` do not exist anymore in LVGL v8. However, this repository ([in `lvgl_helpers.h`](https://github.com/lvgl/lvgl_esp32_drivers/blob/master/lvgl_helpers.h#L36)) uses them to calculate `DISP_BUF_SIZE`. They're also used in various drivers.

@kisvegabor, @embeddedt : Does this mean we need to do a v7 release and a v8 release of this repository to go along with the r

[2021-06-16 07:42] tore-espressif commented on #71
Linking related issues:
https://github.com/lvgl/lvgl_esp32_drivers/issues/68
https://github.com/lvgl/lv_port_esp32/issues/272

[2021-06-16 11:11] ropg commented on #71
Ah, yes, my bad. Will close this, most appropriate issue to discuss this further is #68 .

[2021-06-16 11:11] #71 closed

[2021-06-17 11:05] icodk commented on #68
Updating to V8, I get the following Errors/Warnings:
[code]
Also the ver/hor parameters are missing from the V8 sdkconfig (Maximum horizontal/vertical to support by the library )
The roles of the lv_conf.h and sdkconfig are unclear. In the instructions for upgrading to V8 the lv_conf.h is mentioned but it is
already not used in V7. In my opinion, all settings regarding lvgl should stay out of sdkc

[2021-06-17 12:13] ropg commented on #68
Once I fixed those I got:

[code]

I'd love to play with power management and sleep modes on v8 and am here if there's anything I can do to help make it work or to help document it. But people with more experience with LVGL and more of a feel for general direction probably need to take a first stab at adapting `lvgl_esp32_drivers`. And I can't play with power management in the simulator... I'll us

[2021-06-17 12:17] kisvegabor commented on #68
`lv_core` was renamed to `core`. (The `lv_` prefix is removed from the folder names)

[2021-06-17 13:09] tore-espressif opened #72 "Design proposal"
# Refactoring proposal

Here is a  summary of major/refactoring issues that must be tackled systematically in order to make this SW component maintainable and extandable:
## Issues collection

1. Previous refactoring plans:
    * Kconfig refactoring https://github.com/lvgl/lvgl_esp32_drivers/issues/40
    * Long-term plans https://github.com/lvgl/lvgl_esp32_drivers/issues/44
2. LVGL v8 https://git

[2021-06-17 13:12] tore-espressif commented on #72
@C47D @embeddedt @kisvegabor please leave your comments on this.
So far it is only a high-level plan, that needs to agreed on before the heavy-lifting on the codebase begins.
I'll prepare an example to give you something more tangible next week.

[2021-06-17 14:36] C47D commented on #68
#include "src/lv_core/lv_refr.h"

This is solved in a PR on the `lvgl_esp32_drivers`  directory.

The roles of the lv_conf.h and sdkconfig are unclear. In the instructions for upgrading to V8 the lv_conf.h is mentioned but it is
already not used in V7. In my opinion, all settings regarding lvgl should stay out of sdkconfig, which is an esp32 fenomen and be set in lv_conf.h in the same way as for a

[2021-06-17 14:48] C47D commented on #72
@tore-espressif Thanks for the summary, the `lv_port_esp32` repo (as I see it) is a project to showcase LVGL in ESP32 microcontrollers. The ultimate goal of `lvgl_esp32_drivers` is to make the drivers (both `display` and `indev`) platform agnostic and move them into `lv_drivers`, if we move all the ESP specific stuff into another directory we should be able to do this more easily.

[code]

I would

[2021-06-17 16:05] tore-espressif commented on #72
And it will stay like that for a while. After we finish with the refactoring, we can think again whether it makes sense to have two repos for one platform.

Agreed.

By 'manually' you mean runtime? Yes, that's exactly the idea. I think it is going to be clear after I post an example.

[2021-06-17 16:23] icodk commented on #68
I finally managed to compile an esp32  V8 but the lv_task_handler() never returns.
It manage to render part of a simple window object and dies. No reset, just nothing.
Same window (with v7 functions call) renders perfectly with V7: It get stack even I I don't call any function.
here is  the function I call just before entering the  lv_task_handler() loop:
[code]
In the above function, the title an

[2021-06-17 16:35] embeddedt commented on #68
`touch_driver_read` needs to be updated to v8, otherwise, I'm pretty sure LVGL will just hang when it tries to read from the touchscreen. That update is being worked on in the `feature/esp32c3_support` branch.

[2021-06-17 16:53] C47D commented on #72
Yes, at runtime. An example would be great 😸

[2021-06-17 20:49] icodk commented on #68
Updated both touch_drive.c and touch_drive.h to feature/esp32c3_support branch but still  lv_task_handler() does not returns
Using XPT2046.
Any idea what I should do next ?
Thanks

[2021-06-18 10:32] icodk commented on #68
SOLVED !
First I got the the following error while the program still stuck at at the first call to lv_task_handler().
I got the following warning from the compiler:
[code]
So I changed the  following line (file: disp_spi.c line 313) :
  lv_disp_flush_ready(&disp->driver);
to
  lv_disp_flush_ready(disp->driver);

and now everything works as expected and as in V7.
V8 looks great !

[2021-06-18 11:39] ropg commented on #72
I'm new to LVGL and more of a jack-of-all-trades than highly experienced in any of the languages/environments I touch. But a few things:

* Aaargh. I just wrapped my head around Kconfig and now you're telling me that was all for nothing? 😉

    * Given the special status of I2C (and SPI) as potentially being shared by multiple ESP-IDF components outside of LVGL, we could consider exempting the und

[2021-06-18 12:00] ropg commented on #72
Just noticed I didn't answer one of your questions:

I don't think it needs to do that much more than it presently does. I do plan to emulate [i2cdev](https://esp-idf-lib.readthedocs.io/en/latest/groups/i2cdev.html), a competing thread-safe I2C thing because there's lots of drivers for that one, but support would be in a separate file. Also there are (older) ICs that do not use an address, I need

[2021-06-18 13:21] embeddedt commented on #72
I think there's nothing wrong with using Kconfig to turn features on/off (like whether the driver for a certain display is compiled or not), but it should not be used for specific options like which pins to use, because it's not a dynamic configuration language and it can't support an arbitrary display setup easily.

[2021-06-18 14:04] ropg commented on #72
I agree when it comes to displays because of multiple display setups etc. There you transcend the limits of Kconfig and it's all internal to LVGL. But I beg to differ in the specific case of I2C: multiple ESP-IDF components use the same port(s), configuration is extremely straightforward and Kconfig is, IMHO, the proper way to configure resources shared between components.

Have a look at I2C Mana

[2021-06-18 14:57] C47D commented on #68
I will try to replicate the issue, have you enabled logging?

[2021-06-19 13:38] icodk commented on #68
No logging.
 Which issue ?
It is working for me now (as I wrote above)
Attached a complete working project (eclipse,idf-plugin,Windows 10) based on lvgl V8
[controlPanel.zip](https://github.com/lvgl/lvgl_esp32_drivers/files/6680781/controlPanel.zip)

[2021-06-21 16:58] C47D commented on #68
Sorry, I didn't saw you edited your reply, thanks for the attached project 😺

[2021-06-21 18:35] kisvegabor commented on #72
As it was already mentioned one of the long-term goals is to have a platform-agnostic driver library emerged from `lvgl_esp32_drivers`.  I think we should view the questions in light of this goal too.

@C47D already made some experiments with the hardware interface.

So we need to figure out what level of hardware settings we want to support:
1. Very low level: pin config, mapping, periphery init

[2021-06-21 18:46] C47D commented on #72
The first issue on this repo #1 pointed out a lot of points we should consider, the indev drivers being aware of display rotation is something I would like to add to the current set of drivers and that's why I asked LVGL to have rotation awareness, in #1 an struct with both display and indev drivers were suggested, we might revisit the ideas there and consider (if any) the suggested options.

[2021-06-21 18:52] kisvegabor commented on #72
@C47D do you mean the points listed in this comment?
https://github.com/lvgl/lvgl_esp32_drivers/issues/1#issuecomment-652948156

[2021-06-22 04:34] Rajssss opened #76 "ST7735S: Display no longer works if RST pin is not selected"
Hello, thank you for maintaining this amazing library, saved a lot of my work.
I am trying to save some pins and decided not to use RST pin, hoping that the software reset will do the job, also I have connected RST pin to 3.3V.
But it just doesn't work. I have noticed that the source (st7735s.c) has the required code missing:

[code]

I have tried adding `st7735s_send_cmd(TFT_SWRST);`
but still do

[2021-06-23 11:58] tore-espressif commented on #76
![image](https://user-images.githubusercontent.com/77206109/123091786-0acf3a00-d42a-11eb-9383-e24f6ce04fc6.png)

Although, it should work with SW reset too.
Try adding 200ms delay before and after sending the SWreset command. I'll have a look if it doesn't help.

[2021-06-23 14:23] Rajssss commented on #76
Didn't work. Same issue.

[code]

[2021-06-23 16:59] C47D commented on #76
I think I got one of this displays, will try to replicate the issue and make it work with software reset.

[2021-06-23 17:17] Rajssss commented on #76
Didn't help.

[code]

[2021-06-23 17:36] Rajssss commented on #76
Didn't help.

[code]

[2021-06-24 14:35] tore-espressif commented on #72
So do I.

I'd suggest keeping one repo for the specific vendor's port and one for platform-agnostic drivers. Something like this for ESP:
[code]
`lv_drivers` would contain
* display/indev drivers common for all vendors
* header file defining an interface that must be implemented by each vendor's port

Apart from the folder structure I agree with https://github.com/lvgl/lvgl_esp32_drivers/issues/72

[2021-06-24 15:06] kisvegabor commented on #72
I started to reply to your proposed directory structure but meanwhile something came to my mind.
`esp_lcd` already contains a [high level abstraction](https://github.com/espressif/esp-idf/blob/master/components/esp_lcd/interface/esp_lcd_panel_interface.h) of the displays. So a vendor-specific library can handle the whole display. It's the same for `TFT_eSPI`.

So far my view was that the `display`

[2021-06-24 20:14] Trackhe opened #77 "LVGL8 Not Working Maybe BUFFER Problems. ILI9341"
Device: ESP32 16mb flash
Display Res: 240x320

I tried some things. Custom Buffersize.
set the DISP_BUF_SIZE like:

[code]

i tried also 240 * 40
On the Display change a drawed white area but i cant see the label what i set. and the task that i use dosnt fire.

LVGL programm part:
[code]

Statup Log:
[code]

Related: https://github.com/lvgl/lvgl_esp32_drivers/issues/68

[2021-06-24 21:06] C47D commented on #77
Hi,

We're just started porting both `lvgl_esp32_drivers` and `lv_port_esp32` to LVGL v8, I haven't been able to get my displays to test it at home, will try this weekend.

[2021-06-25 12:50] Rajssss commented on #76
@C47D any update on this?

[2021-06-25 15:21] C47D commented on #76
No, sorry, a storm hit my city and just today we're getting back to normal. Will let you know any update over the weekend.

[2021-06-26 05:12] Rajssss commented on #76
@C47D @tore-espressif It seems to be working, but I had to connect the RST pin to the EN pin on my ESP32, and reduce the delay to 50ms. It didn't work if the RST pin is floating/VCC/GND. Also if I reset the esp32, sometimes the display works sometimes not, I don't know why.

[2021-06-26 15:52] C47D commented on #76
According to this image, the RST signal should go to Vcc (using a pull-up resistor)

![imagen](https://user-images.githubusercontent.com/11037705/123518683-a05a0c00-d66c-11eb-82c6-420ec5da925d.png)

[2021-06-26 23:36] jsmestad commented on #50
@C47D have you had a chance to look at this?

[2021-06-27 01:25] C47D commented on #50
Just merged your PR @jsmestad

[2021-06-27 03:37] Rajssss opened #79 "Support for displays without DC pin?"
In menuconfig, there is a option to enable or disable the DC. However I beleive none of the drivers implemented it. Having such functionality will improve the usability of the driver, saving one more pin, and support Displays modules with no DC pin exposed.
Even though, I had hard time finding a driver which works without a DC pin, but found some hints to a 9-Bit SPI mode?

[2021-06-29 09:55] Trackhe commented on #77
any news? i want to help :)

[2021-06-30 00:52] C47D commented on #79
Hi,

I think you have the ST7735S display, isn't? Can you test this branch? https://github.com/lvgl/lvgl_esp32_drivers/tree/feat/support_no_dc

[2021-06-30 03:56] Rajssss commented on #79
I will and let you know.

[2021-06-30 04:15] C47D commented on #79
The changes in that branch doesn't take into account the fact that the DC signal tells the display if the bytes it's getting from the MCU are a command or data.

[2021-06-30 04:28] C47D commented on #72
@kisvegabor Based on your code snippet I think we could add:

- `lv_disp_drv_t * drv` parameter to functions that 'talk' to the hardware.
- Avoid using names such as `spi_send` because some displays have support for multiple interfaces, like parallel, I2C, etc.
- The user should be responsible of calling `lv_disp_flush_ready`, we currently call it on a transfer done callback.

[code]

Both `bsp_io

[2021-07-01 01:43] cjheath opened #81 "Extra address-of operator in lv_disp_flush_ready(disp-driver)"
https://github.com/lvgl/lvgl_esp32_drivers/blob/7d0bbe8ce57eece8abd955fceadc07c9bce7c3b4/lvgl_tft/disp_spi.c#L313

This line fails to compile for me, until I remove the ampersand.

[2021-07-01 03:46] C47D commented on #81
Hi @cjheath , I think somebody else reported the same problem in another issue, what version of LVGL are you using? is it v8 by any chance?

[2021-07-01 04:11] cjheath commented on #81
Yes, v8. Trying to follow the instructions for v7 not knowing there is a
partially complete transition was very difficult - several days wasted
chasing rabbits.

On Thu., 1 Jul. 2021, 13:46 Carlos Diaz, ***@***.***> wrote:

[2021-07-01 06:19] Rajssss commented on #76
Don't know why but my display refused to work this way, I have to connect it to EN pin directly, but it works fine.
So It should be added in the code.

[2021-07-01 14:22] Rajssss commented on #79
@C47D sorry it isn't working, getting garbage on the screen.

[2021-07-01 15:17] C47D commented on #79
I guess that's expected, the DC signals lets the display know if the data is a data or a command, what display are you working on? Could you share me an image of the connection?

[2021-07-01 16:30] #81 closed

[2021-07-01 16:31] C47D commented on #81
Yes, we haven't started the transition to v8 just yet, trying to fix all the issues before that, we just merged the fix.

[2021-07-01 21:34] C47D commented on #76
Which EN pin do you mean?

[2021-07-01 22:43] cjheath commented on #81
Yeah that's all fine, but I just followed ESP-IDF instructions to check out trunk of lvgl and lvgl_esp32_drivers using git submodules - and assumed that what was on trunk would be CI tested to build cleanly. It's not a criticism of your development process (I'm cool with trunk-based development, though it's unfashionable), but if there is a better way for newbies to get a stable build, it should b

[2021-07-02 03:03] Rajssss commented on #76
The Enable pin on ESP32.

[2021-07-02 03:12] Rajssss commented on #79
Yes, but with DC pin selected it works fine as expected.
Here the display I have: http://www.lcdwiki.com/1.44inch_SPI_Module_ST7735S_SKU:MSP1443
And this is the pinout I am using.

![photo_2021-07-02_08-40-18](https://user-images.githubusercontent.com/24260856/124215264-52805080-db11-11eb-8b04-0bf90bff1445.jpg)
![Screenshot_2021-07-02_08-41-36](https://user-images.githubusercontent.com/24260856/12

[2021-07-02 14:57] C47D commented on #79
You just answered it, the display needs the DC signal to work, you can't use it without it.

[2021-07-02 15:00] Rajssss commented on #79
I don't get it. Are you saying that the display I have can not work without the DC pin? exactly what I am trying to achieve?
And is it because the DC pin is exposed in the module?

[2021-07-05 15:03] michox commented on #20
the latest version seems to allow only Landscape orientation. What is the currently accepted solution for portrait mode? Do I need to rotate each element I want to render?

[2021-07-05 17:20] VedantParanjape commented on #20
Hi, you can set the rotation in kconfig.

[2021-07-05 18:00] C47D commented on #20
Hi @michox , adding support for portrait modes in the SSD1306 is a bit more difficult than other displays (e.g. ILI9341) because it doesn't seem to support rotation configuration, so we need to rotate it by software, please open a new issue to track this.

[2021-07-05 18:15] VedantParanjape commented on #20
@C47D Hi, you guys broke everything in v8.0, atleast should have maintained some backward compatibility.

I am using esp32, so should I already port to v8.0 or wait for esp32 component to update ?

[2021-07-05 18:30] C47D commented on #20
Hi, v8 is not "officially" supported in the repo, we're working on it.

[2021-07-05 18:45] VedantParanjape commented on #20
Okay, please update the readme, it directly asks to add lvgl master as submodule

[2021-07-06 12:49] kisvegabor commented on #72
Sorry for the late reply.

I like the idea of a higher-level API function (`interface` instead of `spi`).

In your code snippet `interface_send` is a typo and should be `interface_write`?

But what's the point of wrapping `bsp_if_write` to `interface_write`? What is the added value?

So using the `lv_drivers` repo the user
- gets the init codes of ILI9341 with abstract interface calls
- still need

[2021-07-06 15:40] C47D commented on #72
Yes, it's a typo.

Didn't leave any note about that back then, totally forgot about the purpose 😅

Yes, it will call bsp functions.

I don't know what's easier, provide the code, leave the users implement it, provide it and allow the user optimize the functions according to their needs (maybe marking the provided functions as `weak`).

I would personally leave the implementation to the user, not t

[2021-07-07 02:07] C47D commented on #79
Yes, I think so, your project works with the DC signal and it doesn't work without it.

Yes.

The only displays I **think** work without DC signal are the I2C based ones.

[2021-07-07 03:33] Rajssss commented on #79
Unfortunately, I don't have one. maybe in future someone will test it.
I have found a thread on a display without DC pin exposed, using 9Bit SPI but for ILI9341, can you take a look?

[2021-07-07 15:02] kisvegabor commented on #72
The user always can select no platform and use custom implementations. I suggest going for no platform-specific functions for first as weak can add them later.

AFAIK `weak` is GCC specific.

As `drv` is also provided as a parameter it's also ok.

[2021-07-07 22:38] dastarling opened #85 "On ESP32C3 with ILI9488 controller at 480x320 16bit, the DMA memory is not sufficient for an entire screen to flush"
The function ili9488_flush() is using an algorithm that allocates an entire screen sized DMA buffer, but on the ESP32C3 device, there is not sufficient memory.

I modified the function to do one line at a time, but it might be good to figure out the best of allocation.

I have a modification to this driver that I can share, but it seems that many of the drivers share this flushing code.

Perhaps t

[2021-07-07 22:39] dastarling commented on #85
Perhaps break out common code from the drivers to make the code more maintainable?  Might be a larger task, but likely worth it.

[2021-07-08 01:11] C47D commented on #85
This might be a good solution.

I think it worth the effort to make all ILIx drivers similar, I don't really know their differences, my first guess is the resolution they can handle. Any thoughts @kisvegabor @embeddedt @tore-espressif ?

[2021-07-08 01:14] C47D commented on #77
Not really (from me), I'm a bit busy at work, but will try to take a look at this, I was trying to close all v7 related issues before starting to work on the v8 support.

[2021-07-08 05:54] Trackhe commented on #77
Understandable

[2021-07-08 09:00] michox commented on #20
thanks for the reply. I can't seem to find the option though, could you please point me towards it? There are several kconfig files and I am new to LVGL. Thanks!

[2021-07-09 15:43] wreyford commented on #85
I hope it will get attention, as I have run into similar memory issues and that on ESP32WROOM32E and then crashes.
I converted from LVGL7.1 to 8.1 hoping that it would improve the issue, but to no avail. I have a medium sized project, and have run out of memory for flushing buffer.

[2021-07-10 02:35] dastarling commented on #85
I seem to be so short on memory that I may need to modify the driver to 8 bits as well?

[2021-07-12 07:33] tore-espressif commented on #85
I'd prefer not 'guessing' how much memory the driver can allocate; my only argument is:
- Not deterministic. The buffer size would depend on current free heap size, which can lead to unpredictable behavior

I'd like to keep it simple stupid: let's the application programmer decide on his memory allocation - he should know the best.
He'd just pass two integers (size of buffer 0 and 1) and that woul

[2021-07-12 09:31] septatrix opened #87 "Support for DLCP2607"
I recently bought the [DLPDLCR2000EVM evaluation board from TI](https://www.ti.com/tool/DLPDLCR2000EVM) which features the [DLCP2607 chip](https://www.ti.com/product/DLPC2607) as a display controller. The product details mention 24-bit RGB, BT656 and a parallel interface although it also mentions I2C and SPI in the programmers guide.

I already got the display running with a RPi Zero but due to se

[2021-07-14 16:52] jsmestad opened #88 "Green screen with WROVER4"
I have everything working great with TTGO T-Display, but when I tried to get my WROVER v4.1 running, I cannot get the display to show anything besides a white screen at boot then a green mess.

I am stumped what I am doing wrong 🤷‍♂️

Running LVGL v7.11.0 and latest commit from this repo.

![IMG_0730](https://user-images.githubusercontent.com/16150/125661250-f06294c4-0e78-40d9-9265-357e95dd6d92.jp

[2021-07-15 10:25] ropg commented on #72
I was thinking about something said here:

I think it would be amazing to have a small but complete working example project for each supported piece of hardware, and it's really much better than all these Kconfig settings. We seem to have concluded that I2C Manager is part of this future. It's probably obvious, but I would recommend just putting an `sdkconfig.defaults` file in the example folder f

[2021-07-15 18:51] jsmestad commented on #88
Yeah nothing crashes it just paints the green screen and continues running like it worked.

Same output on the TTGO configuration has same output and runs fine

[2021-07-15 19:02] kisvegabor commented on #88
I suggest trying to draw a blue, green, or red rectangle first without LVGL to see the color configuration is of the display controller is correct.

[2021-07-15 23:15] jsmestad commented on #88
@kisvegabor Could you lend me a hand and explain how to do that?

[2021-07-16 12:15] kisvegabor commented on #88
E.g. fill an `lv_color_t buf[50*50]` with `lv_color_hex(0xff0000)` (red) and pass it to the flush callback from the driver. After that add some delay to see the result before LVGL overwrites it with the screen real content.

[2021-07-19 18:34] VedantParanjape commented on #20
Hi, sorry for the late reply, I was wrong. You can't set portrait mode through menuconfig.

![Screenshot from 2021-07-20 00-03-41](https://user-images.githubusercontent.com/22630228/126209722-50e95db8-b302-4c68-bc94-aea51b56ec7a.png)

[2021-07-20 13:39] michox opened #90 "SSD1306 orientation"
I would be thrilled if it would be possible to implement 90 and 270 degree rotations (i.e. Portrait mode) for the SSD1306 driver.

I would love to use LVGL for my project but I would need this capability. I tried to see if I could implement it myself but failed. It should be fairly simple to implement using some conversions and a switch statement at the last place before sending the command to the

[2021-07-29 18:08] Trackhe opened #91 "Cant Use Touch with ILI9488 3,5" 480x320 V1.0 XPT2046"
Describe the issue
I cant use my Touch.

Code to reproduce the issue
I use the arduino esp port. And load the Library TFT_eSPI
the kallibration of the touch is working after that i init the lvgl and run a loop
it also works with my ILI9341 2.8 240x320 V1.2 with the same Touch controller XPT2046

void loop1code(void * pvParameters) {
for(;;){
lv_task_handler();
vTaskDelay(10 / portTICK_PERIOD_MS);

[2021-07-29 23:31] C47D commented on #85
@tore-espressif Are you suggesting using the `user_data` field on the display driver?

@dastarling Can you share your patch?

[2021-07-30 17:42] jsmestad commented on #88
I was able to get it sorted. Not sure what fixed it TBH.

I'll reopen if it comes back up.

[2021-07-30 17:42] #88 closed

[2021-08-02 09:02] tore-espressif commented on #85
So the only reason we allocate another intermediate buffer https://github.com/lvgl/lvgl_esp32_drivers/blob/master/lvgl_tft/ili9488.c#L130 is to extrapolate LVGL's 16bit color-depth to the display's 18bit color-depth set in the initialization https://github.com/lvgl/lvgl_esp32_drivers/blob/master/lvgl_tft/ili9488.c#L65.

I'd suggest setting the display color-depth to 16 bit so we can optimize the f

[2021-08-03 11:05] Jascha-N opened #94 "No longer compiles on ESP-IDF v4.3 or earlier"
#74 broke compilation on v4.3 and earlier. The problematic line: https://github.com/lvgl/lvgl_esp32_drivers/blob/5d4334a5b9eaca15b7f9deaa0b734b23ba9ca811/lvgl_tft/esp_lcd_backlight.c#L28

`.flags` seems to only be available on the ESP-IDF master branch.

[2021-08-03 14:45] tore-espressif commented on #94
Thanks, will be fixed here https://github.com/lvgl/lvgl_esp32_drivers/pull/95

[2021-08-03 14:48] tore-espressif commented on #90
SSD1306 does not support portrait orientation, so the rotation must be in software. Will have a look probably this week

[2021-08-03 15:11] tore-espressif commented on #91
there is no TFT_eSPI library in this repo, so I guess you mean this one https://www.arduino.cc/reference/en/libraries/tft_espi/

If you want to use LVGL + touch you have to use display/touch drivers from this repo only.

[2021-08-03 16:34] Trackhe commented on #91
@tore-espressif you dont understand my issue. I wanted to say that the display works with TFT_eSPI from Boomer (no hardware failure). And with the touch from the 3.5" dp dosnt work then i use the display/touch driver. That is the issue.

[2021-08-04 07:01] tore-espressif commented on #91
Could you please post a link to your code, output log and your schematic?

I can't really help you with the information that you provided

[2021-08-04 16:31] Trackhe commented on #91
main code
[code]

dp_views(); calls then the first main view like that:

[code]

sdkconfig
[code]

i use actually the version 7.11 lvgl.
and if i use the 2.8" dp with 320x240 same pins. but another dp controller ILI9341 it works all normaly.
It is worth mentioning that when I display the cpu / fps display, the ili9488 only shows a still image or not the display at all. with the ili9341 everything

[2021-08-05 12:14] Rajssss opened #97 "Re: error: 'CONFIG_LV_AXP192_PIN_SDA' undeclared"
I guess you guys have forgot to merge this:
https://github.com/lvgl/lvgl_esp32_drivers/tree/fix/st7735_no_touch

based on discussion/issue here:
https://github.com/lvgl/lv_port_esp32/issues/285
:)

[2021-08-05 13:34] #94 closed

[2021-08-07 09:28] modi12jin commented on #64
![image](https://user-images.githubusercontent.com/40233017/128595668-908c4927-462c-4f6e-b3d8-bf5baf85316d.png)

![image](https://user-images.githubusercontent.com/40233017/128595685-2c373deb-86d1-4883-95c1-e6c4fa8da54b.png)

[code]

# What steps do I need to do to port a parallel port program?

[2021-08-08 04:05] Rajssss opened #98 "support of parallel displays 16/8-bit"
Is there any plan for adding parallel display support?
I am thinking a separate component to handle 8/16-bit I/Os, like disp_i2s_parallel. We can add support there, and modify the display drivers accordingly, also adding config support for SPI and 8/16 bit selection.

[2021-08-09 05:30] dastarling commented on #85
Sorry for not getting back sooner.  I have found a combination of memory buffers that works most of the time, but reviewing the data sheet for the ILI9488 I think  I would concur that modifying the driver to use the 16 bit color format directly would eliminate the extra buffer and return the memory for other usages.
I had a difficult time squeezing in the graphics and MBED TLS with all the other r

[2021-08-09 05:56] dastarling commented on #85
Actually from studying the datasheets, it looks like the ILI9341 supports the 565 bit format, the ILI9481 driver appears to be the same as the ILI9488. The datasheet shows it supports the 565 format, but does not provide an example of that combination.

[2021-08-09 07:54] dastarling commented on #85
After trying to output 565 via SPI, it does not seem to work, which is probably why the datasheet is inconsistent.  See discussion here: https://www.avrfreaks.net/forum/ili9488-spi-mode-xmega, so I guess we are stuck with 18bit  transforms

[2021-08-09 13:57] tore-espressif commented on #98
Yes, we would like to add more graphical interfaces.

But developing and testing them here is rather difficult, because they can be considered _peripheral drivers_ rather then LVGL specific drivers. Initial plan is to abstract the graphical interface away and use peripheral drivers maintained by Espressif https://github.com/espressif/esp-idf/tree/master/components/esp_lcd

If you want to experimen

[2021-08-10 05:59] tore-espressif commented on #85
oh my, that's bad news.

But we sure need to get rid of that intermediate buffer: I'd always transform 1 pixel and send it over SPI (3 bytes). The performance will be poor, but memory requirements a lot better.

ILI9481/9488 would then be a great candidate for our planned parallel interface.

[2021-08-16 12:47] #98 closed

[2021-08-17 09:09] modi12jin commented on #98
@Rajssss https://github.com/espressif/esp-iot-solution

I asked a question which has some details

[code]

[2021-08-19 06:17] ogghst commented on #77
i've found a possible fix. as per https://docs.lvgl.io/8.0/porting/display.html?highlight=lv_disp_draw_buf_t the flush callback must end with	lv_disp_flush_ready(drv). here is the modified function:

`void ili9341_flush(lv_disp_drv_t * drv, const lv_area_t * area, lv_color_t * color_map)
{
	uint8_t data[4];

	/*Column addresses*/
	ili9341_send_cmd(0x2A);
	data[0] = (area->x1 >> 8) & 0xFF;
	data[1]

[2021-08-24 17:01] BFFonseca opened #102 "Display glitched after update from v7.3.1 to v7.11"
I've been using LVGL for a while now. I began a project long ago and was using LVGL v7.3.1.

I've now returned and decided to update LVGL. I updated it to release/v7 and also updated lvgl_esp32_drivers to master.

My display is not displaying the image correctly now:
![glitched_display](https://user-images.githubusercontent.com/49754867/130657498-f713d613-0dce-44af-a77f-c5f7cc7ba4e8.jpg)

It seems

[2021-08-24 17:06] BFFonseca commented on #102
I didn't notice that the screen resolution had been reset. I've changed to the correct resolution and it's now working properly!

[2021-08-24 17:06] #102 closed

[2021-08-25 07:25] tore-espressif commented on #90
Actually, LVGL v8 has changed handling of display rotation. So we can start working on it after we have support for v8.

[2021-08-26 15:37] #62 closed, assigned to nobody

[2021-08-30 16:01] #16 closed

[2021-08-31 19:00] tvanfossen opened #104 "ST7789 Static Noise displaying to screen during initialization"
ST7789 initialization seems out of date.

In LVGL @ master, LVGL v7 and LVGL v8 the same issue is present, where static noise is displayed to the screen during initialization in st7789.c

I've tried a few different changes to the command list with no luck.

The driver commands seem out of date with documentation found here.
https://www.rhydolabz.com/documents/33/ST7789.pdf

There are a slew of com

[2021-09-01 00:47] C47D commented on #104
I think I have that display at hand, let me confirm that and I will let you know.

On the meantime, can you upload the `sdkconfig.h` file available in `build/config`? You can attach it to your comment.
Also, how are you wiring the display with the MCU and what MCU are you using?

[2021-09-01 07:02] tore-espressif commented on #104
@tvanfossen can you control LCD's backlight from the MCU?

The easiest way is to enable the backlight only after you have transferred color data to the display, so there is always valid data in the Graphics RAM

[2021-09-01 17:25] tvanfossen commented on #104
Co-worker was able to get the issue resolved inside of st7789.c - will either let him update or get the fix from him

MCU does not have backlight control, that was the first idea for a quick fix

On a custom board with an esp32, I dont have the wiring diagram at hand

[sdkconfig.zip](https://github.com/lvgl/lvgl_esp32_drivers/files/7093189/sdkconfig.zip)

[2021-09-02 22:09] C47D commented on #72
Just saw this blog post and maybe we can use some of their ideas for our branches https://blog.stratifylabs.co/device/2021-07-12-Semantic-Versioning-and-Github/

[2021-09-03 15:24] kisvegabor commented on #72
This is how the lvgl repo is versioned now :slightly_smiling_face:
I found it under the name of GitLab flow: https://docs.gitlab.com/ee/topics/gitlab_flow.html#release-branches-with-gitlab-flow

[2021-09-05 03:25] C47D commented on #72
What do you think about using it in here? branch `v7` for LVGL v7.x, branch `v8` for LVGL v8.x and master or development for working. Maybe you have better names tho.

[2021-09-05 04:48] C47D commented on #104
Hi @tvanfossen , I've found my display and ESP32 kit, and I'm able to flash the demo, I'm not able to see the static noise (I'm not using the custom display buffer size tho), are you using a buyed display?

My pc is pretty slow, it takes about 15mins to build a project, so I will be patient to try find the issue 😅

[2021-09-05 17:48] C47D commented on #104
So I've used the custom display buffer size and I'm not seeing any issues, here's my sdkconfig file in case you want to take a look at it. And a bit from the monitor output:

[code]

[sdkconfig.txt](https://github.com/lvgl/lvgl_esp32_drivers/files/7112080/sdkconfig.txt)

[2021-09-06 09:31] kisvegabor commented on #72
I agree to use the same branching here too. IMO `release/v7`, `release/v8.0`, `release/v8.1` are good and conventional names.

[2021-09-06 11:35] tore-espressif opened #105 "Upload ESP32 drivers to Espressif's component registry"
Upload this repository as to Espressif's [component registry](https://components.espressif.com/), in order to enable ESP users to create [LVGL](https://components.espressif.com/component/lvgl/lvgl) project with idf-component-manager.

More information about idf-component manager can be found in [Espressif API guide](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/tools/idf-c

[2021-09-06 17:29] C47D commented on #105
Hi, I think we should agree on the branch naming scheme before adding this capability.

I suggest a `legacy` branch were all of what we currently have would go, because the rotation handling we have doesn't match LVGLs, I've seen some issues related to this.

Master should be the branch were we work towards the @tore-espressif suggested v1.0.0.

I don't personally know how to handle this, my free

[2021-09-07 12:04] jparker324 commented on #104
@C47D I work with @tvanfossen.
In order to clear the display memory, I've had to replace [Lines 78-80](https://github.com/lvgl/lvgl_esp32_drivers/blob/dd09b4d01afcccd3c876fc464ef86e0da4cd03be/lvgl_tft/st7789.c#L78) of the st7789.c file :
[code]
with a longer sequence of memory writes
[code]
and then add some handling for the `ST7789_RAMWR` command, such that the data payload is taken from a 4080 b

[2021-09-07 12:23] tore-espressif commented on #105
## Start of versioning:

I wanted to tag everything that we have now with tag `v1.0.0` and release after all issues in
https://github.com/lvgl/lvgl_esp32_drivers/milestone/2 were solved. This way, we will have a fixed starting point, vital for future development.

That means `v1.0.0` would support LVGL v7 and it would not be fixed/maintained anymore. Users that want to use LVGL v7 would use `v1.0.

[2021-09-07 12:38] jparker324 commented on #104
@C47D  Alternatively, I can also initialize the display successfully by sending the full address range once (as the driver currently does), but then use repeated `ST7789_RAMWRC` commands with the previously mentioned 4080 byte color data payload
[code]

[2021-09-07 14:38] kisvegabor commented on #105
We haven't came to a decision regarding the monorepo idea. In the past few weeks I was seeing the issues through the glass of the monorepo concept, and I believe that it'd be a good direction, especially for the drivers.

I'll warm up that topic today and propose to go for the monorepo.

So I suggest waiting a few days with the decision of branching strategy here. If we can really move to the dire

[2021-09-07 17:15] C47D commented on #104
Hi @jparker324 , thanks for reaching out, I understand your issue now, you mean the "noise" when the display is powered up, with the code you sent you're "clearing" the display before initializing it, so once it starts up it dosn't show the noise, isn't?

Which of your approaches feels more correct to you? I think we could initialize the `color_map` array to 0 with this:

[code]

To be honest I do

[2021-09-07 17:31] tore-espressif commented on #105
No problem with the delay, there is no rush.

In long term, yes. But we are pretty far from making drivers from this repository platform-agnostic. There were some unsuccessful trials in the past (https://github.com/lvgl/lvgl_esp32_drivers/issues/1), and now I see why it is so complicated.

Actually, just for your consideration, if you write an LCD controller driver with all its graphical interface

[2021-09-07 19:35] kisvegabor commented on #105
@tore-espressif
I agree that it's complicated topic. Probably that's why we don't have a good solution for it. :slightly_smiling_face:

As I mentioned in https://github.com/lvgl/lvgl/issues/2456#issuecomment-914568423 I think moving the development of drivers to the `lvgl` repo would help to get more attention. We can use a different branch for design, planning and evaluation.

---

So t seems the

[2021-09-08 01:39] C47D opened #106 "warning `disp_driver_init` return with value"
I'm getting this warning:

[code]

Introduced here, could you take a look @tore-espressif ?
[code]

[2021-09-08 17:21] C47D commented on #104
It does look good to me, are you planning to submit your changes into a PR? I would only rename the `DISP_BUF_SIZE` symbol, afaik it's not related to the size allocated for the LVGL work buffer, isn't? I'm also working on #92 , which is using the same display driver, if you need me to test your changes please let me know.

[2021-09-08 21:01] tore-espressif commented on #105
I'm not sure whether I understand this correctly

[2021-09-09 13:38] kisvegabor commented on #105
I meant if the new driver architecture were be part of the lvgl repo it needed to follow the branching, release, tagging, etc. of the lvgl repo.

[2021-09-09 17:21] tore-espressif commented on #106
This was all introduced in the backlight PR https://github.com/lvgl/lvgl_esp32_drivers/pull/95

The idea is to separate backlight controller from the display driver. The `void *disp_driver_init(void)` function returns a pointer to backlight controller handle (if it was configured in Kconfig). It is not the best solution, but it fits the current architecture.

You changed it back in your PR https:/

[2021-09-09 17:41] tore-espressif commented on #106
Just guessing: did you rebase on `master` ? You should have rebased on `develop` when you want to merge to `develop`.

If you do it the other way around you might accidentally revert all commit thats are in `develop` but not in `master`

[2021-09-09 18:11] C47D commented on #106
I see, I rebased on my development branch. So, the easiest fix is changing the return type of the function, isn't?

I was also thinking of removing the backlight control from the driver code, what do you think?

[2021-09-09 23:04] C47D commented on #106
Yep, it was my fault, just updated my project and the warning no longer pops up 😅

[2021-09-09 23:04] #106 closed

[2021-09-17 23:10] morganrallen opened #109 "st7796s_flush missing lv_disp_flush_ready"
If I understand right a drivers `flush_cb` needs to call `lv_disp_flush_ready(drv)` when it's done. This driver does not make the call and from what I can tell is the only thing preventing this driver from working on v8.

[2021-09-17 23:15] morganrallen opened #110 "ft6x36 invert before swap can lead to negetive numbers"
The `ft6x36_read` function call has three `CONFIG_` checks to perform `INVERT_X`, `INVERT_Y` and `SWAPXY`.
It appears because the swap happens after the inversions it can result in negative numbers. To get it working for myself I just changed the order, but I suspect this might vary from one setup to another.

[2021-09-18 01:54] C47D commented on #109
It may be related to #66

[2021-09-18 07:26] SinglWolf opened #111 "Functions for controlling the brightness of the display backlight. Ideas and suggestions."
Sorry for the many symbols.
I was pleased that a built-in function for controlling the brightness of the display backlight appeared.
But when trying to integrate the disp_backlight_set () function into my project, I ran into an unsolvable problem for me.
For the disp_backlight_set () function to work properly, a pointer to an initialized disp_backlight_h is required. Initialization occurs inside t

[2021-09-18 18:16] C47D commented on #111
Hi, I'm in a road travel right now, but we're working on improving all the drivers on the `develop` branch.

I've separated the backlight initialization from the driver initialization function, but that branch will be changing a lot for a couple of weeks (a.k.a not ready for projects).

Please let me know if the work we're doing there is something along the lines of your patches.

Regards
- carlos

[2021-09-18 23:26] SinglWolf commented on #111
[code]

This separation of the backlight initialization function from the driver initialization function is really just a formality.
What's the point of separating the backlight initialization function this way? When exiting the driver initialization function, the backlight initialization function anyway called. In my opinion, this approach only complicates the understanding of the code.
In the re

[2021-09-19 14:23] tore-espressif commented on #111
Hello @SinglWolf

Thank you very much for this issue. When we merged the backlight function, we left few TODOs, so it's good that you pointed them out. Most importantly, there is no good example how to use the new API (my bad).

We definitely want to go with multi-display support, so I'll fix the issues you mentioned in that manner.

[2021-09-19 14:51] SinglWolf commented on #111
Multiple display support? On different controllers? Will my dreams and aspirations come true?

[2021-09-20 03:30] SinglWolf opened #113 "Support for multiple displays on different controllers and more. Ideas and Reflections."
The essence of the problem. It's global to me. On the verge of a complete rejection of `LVGL` completely.
I will give an example (purely theoretically). The `SPI` bus frequency is 40 MHz and cannot be changed by the end user. The connected display can only operate at 35 MHz. The owner of the display should ask the firmware developer to compile a custom firmware for their display.
Another example (

[2021-09-20 10:46] tore-espressif commented on #113
You can set all pins in menuconfig, if you don't use any predefined display. `Select predefined display configuration` set to `None`.

I believe you are not serious with these questions.

You can help by submitting meaningful Pull Requests. Issues like this doesn't help at all.

We have recently pointed you to `develop` branch. Check it out here:
https://github.com/lvgl/lvgl_esp32_drivers/blob/dev

[2021-09-20 10:46] #113 closed

[2021-09-20 16:51] morganrallen commented on #66
This might not be entirely true. With stock master branch I could not get the ST7796 to work until I added an explicit call as per #109. I cannot recall the exact step I took, but during my investigation I did note the `lv_disp_flush_ready` call in `disp_spi.c` but it only appeared to get called once then the driver would lock up, never returning from `lv_timer_handler`

[2021-09-20 17:19] SinglWolf commented on #113
You didn't even pay attention to my idea of using an independent config. Of course, I'm a dumb C user who just mastered "Hello World!" trying to teach a C programming guru.
Yes, God be with You. Write whatever You want. Good luck.

[2021-09-20 17:22] #111 closed

[2021-09-20 17:40] SinglWolf opened #114 "Independent use of i2c_manager."
Why is `i2c_manager` only available when using a supported display?
I already have an I2C-controlled devices in my project. It is an audio processor and a real time clock. A separate component is used for this. I would like to use the `lvgl_esp32_drivers/lvgl_i2c` component, but it is not available due to unsupported the display.
Can't `i2c_manager` be enabled independently of the display?
Or am I

[2021-09-20 17:44] C47D commented on #114
Maybe @ropg can give us a hint?

[2021-09-20 17:45] C47D commented on #66
I will take a look at it.

[2021-09-20 19:18] ropg commented on #114
Just use the I2C Manager as a separate component and use it to talk to your I2C devices, and then tell LLVGL to use its locking so they all play nice. I think it's pretty well explained in the [README](https://github.com/ropg/i2c_manager), but I'd be happy to tweak the text.

Help me understand:

* You have a project. It has some other parts that talk I2C: RTC and audio.
* Your display is 'unsuppo

[2021-09-20 20:38] embeddedt commented on #113
I would like to remind everyone to please be constructive when providing suggestions/ideas for improvement. Statements like "you didn't even pay attention" and "do you care about reducing compile times?" are not actionable and do not really follow our code of conduct either.

I am not that familiar with the ESP32 project in its current state, as it's not a platform I use, but I think that @tore-es

[2021-09-21 02:56] SinglWolf commented on #114
In my naive simplicity and misconception about the C language, I assumed that the I2C manager settings in Kconfig were not available to me due to the fact that my display was not SSD1306.
After reading your post, full of confusion, I selected the SSD1306 display via menuconfig to see how things really are.
Shock and Awe. There is not even a way to assign pins for I2C.
Your I2C Manager as a compone

[2021-09-21 02:56] #114 closed

[2021-09-21 07:03] ropg commented on #114
But, but...

Within lvgl_esp32_drivers the I2C settings for a given port are potentially shared by a screen and a touch device. That's why you can only set which I2C port a sensor or screen is on and there are no pin settings there. The actual I2C port settings, including pins, are the next item below "LVGL ESP Drivers", called "I2C Port Settings". Unless something is wrong, in which case I'd like

[2021-09-21 07:18] wreyford opened #115 "kconfig for lvgl_esp32_drivers/lvgl_i2 causes ESP-IDF SDK Configuration Editor to Crash"
I've updated to the latest master of lvgl_esp32_drivers.
I'm using LVGL8.3 master.
![error_I2C_Port](https://user-images.githubusercontent.com/50998190/134126987-d4a94046-af07-4d6d-b57c-19c49837f02b.jpg)
I can select i2C port Zero, but in the KConfig specific to I2C Port Settings,
if I select Enable I2C port 0 or Enable I2C port 1, instead of bringing up the options to set the pins etc, it just cr

[2021-09-21 07:32] kisvegabor commented on #114
@SinglWolf

That's not true. @ropg asked 3 questions to better understand your issue in order to help. I can't see answers to them but you just some insulting wording.

The community of LVGL should be composed of positive, supportive, and respectful people.  Please, keep it in mind to have constructive and productive discussion in which people are happy to participate.

[2021-09-21 13:16] SinglWolf commented on #114
Settings for any device should be simple and intuitive. I hope it's hard to disagree with this.
There are two displays with different controllers. If the controllers are different, this is not a reason to do different setting methods for them. Otherwise, everything goes head over heels.
I initially had the ILI9488 display selected, there is no I2C Port Settings line in the menu.
![2021-09-21_17-39

[2021-09-21 13:28] ropg commented on #114
The way I2C works in the drivers is documented, [here](https://github.com/lvgl/lvgl_esp32_drivers/tree/master/lvgl_i2c#readme), but you absolutely have a point that it could be more obvious. So no, you're not stupid. (Just a little quick in assuming we're unhelpful maybe.) Not sure how to make it obvious other than to stick it in the help for the Kconfig options, but honestly most people don't pre

[2021-09-21 13:38] SinglWolf commented on #114
And what will happen if you make the setting of the I2C pins and the SPI bus in a separate (general) menu item? Then i2c_manager as a component for other devices can be enabled.

[2021-09-22 07:21] wreyford commented on #115
In the sdkconfig, the following [ CONFIG_LV_I2C=y and CONFIG_LV_I2C_DISPLAY_PORT=0] appears to be set, but it is not selected anywhere in menuconfig:

'''
# CONFIG_LV_DISP_BACKLIGHT_OFF is not set
CONFIG_LV_DISP_BACKLIGHT_SWITCH=y
# CONFIG_LV_DISP_BACKLIGHT_PWM is not set
# CONFIG_LV_BACKLIGHT_ACTIVE_LVL is not set
CONFIG_LV_DISP_PIN_BCKL=-1
CONFIG_LV_I2C=y
CONFIG_LV_I2C_DISPLAY_PORT=0
# end of LV

[2021-09-23 02:14] SinglWolf opened #116 "Strange artifacts on the ILI9488 display"
I already broken my head over this problem.
Strange vertical stripes appeared on the display.
Explain, please, did I broken something in the settings, or is it a sign of the imminent demise of the display?
![2021-09-23_06-31-44](https://user-images.githubusercontent.com/32172969/134443740-8b7caa2c-6f10-4c74-833d-3a9c90910540.png)
`ESP32-S2` device, `ILI9488` display, VScode + PlatformIO environmen

[2021-09-23 03:15] SinglWolf commented on #116
After consistently downgrading the `espidf` framework versions, I found a version (`3.2.1` according to `PlatformIO` numbering), where there are no artifacts. But in this version there is a bug - `UART` does not work, `ESP32-S2` just hangs. In the next one (`3.3.0` according to `PlatformIO` numbering) and the current one, `UART` works, but there are artifacts on the display.
Should I move to `lvgl

[2021-09-24 01:45] SinglWolf commented on #91
[code]
I have the same problem. The likelihood of a defekt touch controller has halved.

[2021-09-24 09:13] tore-espressif commented on #116
Hello again :)
I'll check this on HW as soon as I get it.

Meanwhile to your other questions:
If you are using `esp-idf` then ESP32-S2 is supported from v4.2 onwards.
ATM, I'm not sure whether this is PlatformIO related... once I get it working we can debug this further.

I  can see from your activity on GitHub that you really want to make LVGL happen in your projects, I'm sorry that it is not in

[2021-09-25 13:53] wreyford commented on #115
I resorted to screen recording the error that flashes on the screen momentarily in VSCode using the ESP-IDF plugin, when the menuconfig crashes.
The error was a result of the int value not having a default, and thus ''
Fixing this allowed for the proper menuconfig handling of the I2C ports

[code]
and this change is required for both ports 0 and 1.

Now all I need to do is get past the
**implicit

[2021-09-25 17:50] Trackhe commented on #91
I test it with another library to ensure that the controller works.

[2021-09-25 17:53] SinglWolf commented on #91
If it works, can you share a working example?

[2021-09-25 18:11] Trackhe commented on #91
It works but not with lvgl, that is the reason why the issue exist. But when you don't want to use lvgl or you want to test your touch chip use Bodmer/TFT_eSPI on github.

[2021-09-25 18:31] SinglWolf commented on #91
That's why I ask for a working example, uploaded the sketch, and you're done. I'm not strong in Arduino.

[2021-09-26 01:29] SinglWolf commented on #91
A demo sketch from [Bodmer/TFT_eSPI](https://github.com/Bodmer/TFT_eSPI) for touchscreen calibration works great (chip ESP32-S2)!
We are waiting for a solution to the problem from the developers.

[2021-09-26 01:45] SinglWolf commented on #91
Meanwhile... The solution was found by itself!
While setting up a demo sketch from `Bodmer/TFT_eSPI` to calibrate the touchscreen, I came across a warning like this:
[code]
Dear developers. Nail down and paint the above warning red!
The question can be closed. This is victory!

[2021-09-26 18:03] Trackhe commented on #91
That is the solution. Nice. I wonder how i can miss that. Thank you so mouch. Is the SDO from Display needed? Because it works also when i left them disconnected. Nice work!

[2021-09-26 18:03] #91 closed

[2021-09-27 02:10] SinglWolf commented on #116
After I managed to solve the problem with the touchscreen, I decided to try the fresh version `LVGL`. I started with an example from the archive controlPanel.zip that I took [here](https://github.com/lvgl/lvgl_esp32_drivers/issues/68#issuecomment-864407634).
I have successfully migrated the project to PlatformIO and launched it. There are no artifacts.
However, I spent a lot of time synchronizing

[2021-09-27 02:36] SinglWolf opened #117 "Synchronization of touchscreen coordinates with display orientation."
At the risk of being bombarded with rotten tomatoes again, but still I will speak out on this matter.
The touch screen is an integral part of the display. Why should I spend just a huge amount of time synchronizing the coordinates obtained from the touchscreen with the orientation of the display?
Each launch of the configuration menu results in a recompilation of the entire project. I have a fairl

[2021-09-27 13:03] tore-espressif commented on #115
@ropg could you please have a look?

[2021-09-27 15:22] ropg commented on #115
Will do as soon as I find some time.

[2021-09-27 15:29] wreyford opened #118 "ft6x36.c error in code results in touch not giving correct co-ordinates solved."
I ran into a problem when I updated to master branch using LVGL8.3
Amongst many issues, this was my last stumbling block.

The touch was giving incorrect coordinates, making it unusable.
For my ILI9488, using capacitive touch over I2C, with kconfig:
[code]

I got incorrect X values

The reason for this is, that in the code line 118 to 136:
[code]

needs to be:
[code]

As you can see you must first

[2021-09-28 05:35] C47D commented on #118
Thanks for the detailed information, I think I don't have that particular controller to test your fix. But I will try to add it in the coming days.

Regards.

[2021-09-28 06:05] wreyford commented on #118
Thx, if you look at the actual logic, You don't want to invert an axis before swopping it, as the end user expects to invert a specific axis, x or y, and doing that after swopping XY, results in the expected axis being swopped and then obviously deducted from the correct screen coordinate for width and height of display.

[2021-09-29 01:58] C47D commented on #110
Hi @morganrallen,
Does the fix in #118 solves the issue? I've merged the suggested fix in master.

[2021-09-29 01:58] C47D commented on #118
Does 8862804 fixes the issue?

[2021-09-29 03:20] SinglWolf opened #120 "Long touch to touchscreen - crazy Slider (lv_slider)"
I decided to implement touchscreen support in my project.
The first thing that came to mind was the volume control.
Here it is:

![2021-09-29_08-00-21](https://user-images.githubusercontent.com/32172969/135195890-f89dcdb3-f873-4c35-865d-dc91f595b226.png)

With a short touch with the stylus in different parts of the slider, the slider moves to the stylus almost always not exactly to the point of to

[2021-09-29 10:48] wreyford commented on #118
Yes thanks, it does.

On Wed, Sep 29, 2021 at 3:59 AM Carlos Diaz ***@***.***>
wrote:

[2021-09-29 12:48] C47D commented on #118
Cool, I'll close the issue then.

[2021-09-29 12:48] #118 closed

[2021-09-29 16:12] morganrallen commented on #110
Yup, looks good

[2021-09-29 17:16] C47D opened #121 "Replace ESP_LOG with LVGL logging"
@kisvegabor @tore-espressif I think one step forward to MCU independent drivers is moving from ESP-IDF logging to LVGL logging. What do you think?

[2021-09-29 17:34] C47D commented on #110
Can we close the issue?

[2021-09-29 17:36] #110 closed

[2021-09-30 14:02] kisvegabor commented on #121
Good idea. It seems straight forward.

[2021-10-01 01:56] morganrallen opened #122 "LV_HOR_RES_MAX not compatible with LVGL v8"
_MAX has been dropped.

A snippet like this should suffice to support v8 and maintain reverse compatibility.
[code]

This appears to be the last issue to getting v8 compatibility, for at least the FT6X36 driver.

Thanks!

[2021-10-01 07:19] kisvegabor commented on #122
In v8 `lv_disp_get_hor_res(NULL)` should be used instead.

[2021-10-02 03:03] SinglWolf opened #123 "Uncover the secret of the undocumented trick in `gpio_set_level()` when initializing the display."
For a long time I did not want to update the drivers for my project, but I did it anyway.
While looking at the innovations, I noticed something new for me.
Explain to me, please, how this can be?
The function from the `esp-idf` framework only accepts the following arguments:
[code]
With `gpio_num`, everything me is clear, but with `level` there is some misunderstanding.
Watch the headline briefing

[2021-10-03 03:13] SinglWolf opened #124 "Migration from version 7 to version 8 - Guru Meditation Error..."
I started migrating my project from `LVGL` version 7 to version 8. I commented out all the lines with compiler errors in order to make the firmware and then gradually put the project in order.
Display controller `ILI9488`.
And I ran into a problem where it shouldn't be in principle. My project in version 7 works fine. In the place where the problem arose, I did not make any changes, because in ver

[2021-10-03 19:09] C47D commented on #124
I haven't tested using LVGLv8, I will get some ESP32S2 and C3 kits next week to try test the drivers.

From the first backtrace it seems to me that the `disp->driver` might be NULL, here https://github.com/lvgl/lvgl_esp32_drivers/blob/f6999a52fe6ab7a7e4d035e0d96c0cfb1021a94a/lvgl_tft/disp_spi.c#L316, can you validate it isn't NULL?

[2021-10-04 02:43] SinglWolf commented on #124
I Inserted check lines into the function.
Didn't work even once.
[code]
log:
[code]
If I understood Your question correctly, of course.

[2021-10-04 13:54] tore-espressif commented on #85
Closing this as 'won't fix'. See details here: https://github.com/lvgl/lvgl_esp32_drivers/pull/103#issuecomment-933508835

[2021-10-04 13:54] #85 closed

[2021-10-04 21:53] morganrallen commented on #122
I see. What do you think best course of action is then to clean up all the `#define` statements using `_MAX` in `lvgl_helpers.h`, `lvgl_spi_conf.h`, `st7735` and `EVE_config.h`?

[2021-10-05 01:28] SinglWolf commented on #124
I knew that the lv_disp_draw_buf_t structure in version 8 should be static, but I missed it.
I sprinkle ashes on my head.

[2021-10-05 01:28] #124 closed

[2021-10-05 20:14] C47D opened #126 "Some drivers doesn't build when no hardware reset is enabled"
What the title says, the compilation fails because of those particular drivers use the `CONFIG_LV_DISP_RST` symbol without checking if it exists first.

[2021-10-06 10:39] kisvegabor commented on #122
You replace `LV_HOR_RES_MAX` with the "hor_res" definition of the TFT.

We are working on rewriting the drivers and they work with v8.

[2021-10-06 18:07] C47D opened #128 "Helper for GPIO configuration"
The new drivers init routines are getting rid of the GPIO configuration, we should add a user helper to configure the GPIOs used by the driver, similar to the peripherals (SPI/I2C) helper API.

[2021-10-14 00:16] #128 closed, assigned to C47D

[2021-10-14 00:17] C47D commented on #126
Fixed with #127

[2021-10-14 00:17] #126 closed

[2021-10-14 00:24] C47D opened #130 "Cleanup CMake files"
https://github.com/lvgl/lvgl/pull/2656 Mentioned a tool named cmake-lint and cmake-format that would help us to clean the CMakeList.txt files in this project.

This update would also allow us to split the current unique CMakeList.txt file into 2, one for the display drivers directory and another for the indev directory.

I will open a PR in the coming days with my proposal.

[2021-10-15 14:26] SinglWolf opened #133 "Display with ILI9486 controller does not work in 16-bit mode for SPI bus."
I ordered a new display on Aliexpress. The seller assured me that his controller was `ILI9486`.
With driver `ILI9486`, `LV_COLOR_16_SWAP - NO`, ` Display orientation (Landscape inverted) `: White screen.
![4946dcb0-e90d-4d9d-91e9-c8a8fe6b80b1](https://user-images.githubusercontent.com/32172969/137499715-bc259327-e15c-4711-80b4-9d67abb632c6.jpg)

With driver `ILI9488`, `LV_COLOR_16_SWAP - YES`, ` D

[2021-10-16 03:12] SinglWolf commented on #133
In vain waiting for a response from developers who do not care about the problems of stupid users (they are busy with something else, apparently more important than a broken driver or artifacts on the display), I still figured out which display was sent to me and made it work.
Not with Your drivers.
In the Arduino development environment and with the `Arduino_GFX` library. A display with an `ILI94

[2021-10-16 16:40] C47D commented on #115
Ok, let's close this, feel free to open it again if you have issues.

[2021-10-16 16:40] #115 closed

[2021-10-17 02:43] SinglWolf commented on #133
Everything is sad ...
This display does not work in 16-bit mode. No not like this.
For control via the SPI bus, only 18-bit mode is available.
By adding the correct initialization string in the driver file for `123`, the display worked. With the same artifacts...
[code]
![2021-10-17_07-32-40](https://user-images.githubusercontent.com/32172969/137608537-3b43802e-3ef8-42c8-8934-ae0cf61434e7.png)

[2021-10-17 03:13] SinglWolf commented on #133
Now I have 2 displays (ILI9488 and ILI9486) which are of no use.
They work slowly, eat a lot of memory. Information display is accompanied by incomprehensible artifacts.
It took a lot of effort, time, nerves and, by the way, money too to clarify this fact.
The developers don't care.
They are busy with more pressing problems. For example, [these](https://github.com/lvgl/lvgl_esp32_drivers/issues/12

[2021-10-17 03:13] #133 closed, assigned to nobody

[2021-10-18 06:07] SinglWolf opened #134 "The display with the ILI9486 controller has 5V logic!"
When I applied 5 volts to the display wich ILI9486 controller that I connected to the ESP32-S2, I got a device freeze when I tried to connect to Wi-Fi.
At first I thought that the [broken driver](https://github.com/lvgl/lvgl_esp32_drivers/issues/133) was to blame. But then I drew attention to the board and saw that the stabilization microcircuit was not in place, but a 0 Ohm resistor was installed

[2021-10-19 01:43] SinglWolf opened #135 "After updating drivers white screen on ILI9488 display, etc."
Error in file `lvgl_esp32_drivers\lvgl_tft\ili9488.h`:
[code]
Should be:
[code]
If there is no hard reset, no software reset is applied to the display. The result is a white screen. Therefore, I propose to do this for all displays, of course (see below.).
I also suggest removing the extra line for setting the display orientation from the initialization array, because the orientation is set in any

[2021-10-22 23:57] C47D commented on #121
Closed with #131

[2021-10-22 23:57] #121 closed

[2021-10-27 13:14] finger563 opened #138 "Plans to add ESP32-S2-HMI-DEVKIT as a supported board?"
Just wondering if there is any work to support that board (and its I2S interface). I know there does exist some code at https://github.com/espressif/esp-dev-kits/tree/master/esp32-s2-hmi-devkit-1 for that devkit, but it does not use this repo, and it would be nice to have a more unified way of configuring the display / platforms :)

[2021-10-30 16:05] C47D opened #139 "[README] Update supported drivers table"
We could add a column for notes about the drivers and another one for performance measurements. Anything else we might need to add?

[2021-11-02 13:03] gigijoe opened #140 "Supports ILI9225G controller"
This project saves me a lot of time. So I would like to share my porting of ILI9225G driver.

https://gist.github.com/gigijoe/02a36fe22136f91d715c0ed3b00abe2a

[2021-11-02 18:37] kisvegabor commented on #139
How to indicate the performance?

[2021-11-07 01:36] SinglWolf commented on #116
I was able to completely get rid of the artifacts on the display screen with the `ILI9488` controller using very old drivers.
Here is from my project set of functions  which there are no artifacts on the display.:
[code]

[2021-11-13 11:59] Ali-Abdelwdod opened #141 "ft6x36 touch IC returns false after a successful read."
the function ft6x36_read returns false even when the function detects a single touch successfully!

[2021-11-13 12:46] embeddedt commented on #141
This is the intended behavior ([related documentation](https://docs.lvgl.io/7.11/porting/indev.html#types-of-input-devices)). The return value is intended to indicate whether there are more queued touch events to process, not whether there has been a touch. Returning `true` if there was just one touch would cause LVGL to block indefinitely in [this loop](https://github.com/lvgl/lvgl/blob/ec4435426

[2021-11-13 12:46] #141 closed

[2021-11-18 21:53] C47D commented on #72
I have some questions regarding this in regards of including the display and indev drivers in LVGL:
- Would the LVGL examples be able to run in this project? Or are we talking about having some ESP32 specific examples?
- Would we add the lv_port espressif specific files into LVGL or here?

[2021-11-19 02:11] C47D opened #143 "Communication interface abstraction"
Hi,

As we've discussed before there's the desire to abstract the communication interface (SPI, I2C, Parallel, etc.) in the display drivers.

## Current implementation

We only have support for SPI and I2C. Here's how currently (develop branch) a command and data are being sent over SPI (ili9341):
[code]

Here's how they're sent over I2C:
[code]

In the SPI case we have two functions to send data:

[2021-11-19 14:01] kisvegabor commented on #143
Hi,

I like the idea in general, but I'd split the API a little bit differently.

We can de two things with a display:
- send commands (cmd + data array)
- send the image

Therefore I suggest something like this:
[code]
`display_update_image` is quite abstract therefore it can work with any kind of display refreshing. (display controller, double buffer, single buffer, etc)

What do you think?

[2021-11-19 14:08] kisvegabor commented on #72
I think "examples" mean HW config examples.

Ultimately, I think we should have all drivers in LVGL. This way `lv_port espressif ` would be a demonstration for configuring LVGL for ESP32 (selecting the drivers, platform, board, or whatever we find out to describe hardware) and show how to initialize LVGL, the driver, and open a demo or example UI.

[2021-11-20 02:09] C47D commented on #143
It seems like the `flush` functions will become a wrapper of it.
---
Here's a first approach I had laying around https://github.com/lvgl/lvgl_esp32_drivers/pull/144 :
- The driver doesn't need to know what is the communication channel between the MCU
- Doesn't have any MCU specific code

[2021-11-22 10:52] kisvegabor commented on #143
IMO we should not tell from the display controller that images (colors) are sent with async. What if a platform doesn't have support for async I2C sending. Or want to buffer commands too into a bundle.

As there are only 2 type of communication
1. command sending
2. image sending

we can let the user use how to handle them.

What do you think?

[2021-11-22 15:34] tore-espressif commented on #72
Exactly. I think we already agreed on the dispaly/indev folder names.

In the light of our recent discussions, this proposal is rather obsolete...

[2021-11-22 17:58] C47D commented on #72
Ok, so can we close this issue?

I think we missed writing a public minute of the meeting we had.

[2021-11-22 18:05] C47D commented on #143
Then we would need to add a configuration switch to choose between async and polling image sending.

I will add that to the proposal.

[2021-11-23 09:54] tore-espressif commented on #143
Few points here:

Some displays have 16bit wide commands.

    set_data_mode(drv);
    disp_spi_send_data(drv, data, length);
#elif defined CONFIG_LV_TFT_DISPLAY_PROTOCOL_I2C
    lvgl_i2c_write(OLED_I2C_PORT, OLED_I2C_ADDRESS, OLED_CONTROL_BYTE_DATA_STREAM, data, length);
#endif

I thought that the main idea was to get rid of these #ifdefs , what if the user has multidisplay setup and wants to use

[2021-11-23 10:00] kisvegabor commented on #143
Yes, but it's related only to the given platform.

I think, `uint32_t cmd` should be enough.

If we consider the `examples` folder as platform examples (e.g. ESP SPI, ESP LCD) we can show a couple of things, and the user can copy/paste an example and extend it according to his special needs. What do you think?

[2021-11-23 10:28] kisvegabor commented on #72
More or less [this comment](https://github.com/lvgl/lvgl/issues/2720#issue-1033542887) should serve as a summary of the discussed things.

[2021-11-23 16:03] C47D commented on #143
As a first step I'm removing the spi or i2c function calls from the drivers, those calls would now be in the port functions implementation. For the ability to switch communication interfaces at runtime I think we could use some function pointers?

Maybe we could add a parameter flag in the `send_image` function and let the implementer/user use it as convenient.

I think we would need to add a conf

[2021-11-26 03:48] C47D commented on #143
How https://github.com/lvgl/lvgl_esp32_drivers/pull/144/commits/8a065b32b66b0e6f17b2c079609937a1a317af4b does look?

[2021-12-14 15:27] tore-espressif opened #146 "Abandon `develop` branch"
Merge `develop` branch into `master` and stop using it.

TODO: more details

[2021-12-14 21:43] DatanoiseTV opened #148 "ILI9488 is broken"
I'm trying the ILI9488 driver on a 3.5" screen: http://www.lcdwiki.com/3.5inch_SPI_Module_ILI9488_SKU:MSP3520
Using the same PCB, I was able to control a 2.2" and 2.8" ILI9341 screen, which shares the same connector pinout.
With the ILI9488, the screen stays white.

[2021-12-14 22:17] DatanoiseTV commented on #135
I have the same issue, but adding your #ifndef doesn't fix the white screen for me.

[2021-12-14 23:24] SinglWolf commented on #135
A white screen may also be due to the fact that the frequency of the SPI bus is too high. I already have 2 displays that did not start at 40 MHz. At 26 MHz, they work fine.

[2021-12-14 23:41] xire- opened #149 "Compilation fails because of typo"
Compilation fails on this line, removing it fixes the issue.
Is this a typo?
https://github.com/lvgl/lvgl_esp32_drivers/blob/4afc03a9fa18600f508b0d8b593ddcb96376e004/lvgl_tft/EVE_commands.c#L337

[2021-12-16 11:31] wreyford commented on #122
Any progress on this incompatibility matter?
We value all your hard work and commitment.

[2021-12-16 11:33] wreyford opened #150 "S3 support lacking."
The KConfig fails for ESP32-S3 devices as they are not supported.
Any chance of including support for?

[2021-12-23 00:00] C47D commented on #150
Hi,

I haven't tried to use the S3, what version of ESP-IDF are you using?

[2021-12-23 00:01] C47D commented on #122
Hi,

Thanks for the words, I've been particularly busy with my day job, we're trying to get into a position where we can start the support for v8, there are several things that changed since v7.

[2021-12-23 00:12] tvanfossen commented on #150
Highly recommend using the ESP-box driver's for the S3 instead of the lvgl_esp32_driver repo

That said, the S3 requires esp-idf-4.4

[2021-12-24 00:07] C47D opened #155 "[develop] SPI_HOST_MAX not defined"
Using ESP-IDF version 4.4, compilation fails because of the missing `SPI_HOST_MAX` symbol.

[2021-12-24 03:31] SeaHi-Mo opened #157 "Can I add support for sh1108 1.92-inch OLED"
The driver for sh1107 is not compatible with sh1108

[2021-12-24 03:31] #157 closed, assigned to nobody

[2021-12-24 03:33] SeaHi-Mo opened #158 "Can you add a driver for sh1108?"
The drivers for sh1107 appear to be incompatible with sh110

[2021-12-27 03:48] C47D opened #159 "ESP32C3 SPI configuration"
Well, this story is still not finished yet :(
As of [ESP32-C3 datasheet v1.1](https://www.espressif.com/sites/default/files/documentation/esp32-c3_datasheet_en.pdf#page=20) (page 20):
[code]
As of [online documentation on ESP32-C3](https://docs.espressif.com/projects/esp-idf/en/latest/esp32c3/api-reference/peripherals/spi_master.html):
[code]
So at least there is no such thing as SPI3 and `SPI3_HO

[2021-12-27 03:56] C47D commented on #159
The invalid host message when calling `spi_bus_initialize` comes from `is_valid_host`, for C3 `SOC_SPI_PERIPH_NUM` value is 2, so I would say using `SPI2_HOST` would be safe, isn't @arktrin ?

[code]

[2021-12-27 07:39] arktrin commented on #159
SPI2_HOST is working ok without any problem.

[2021-12-27 09:59] arktrin commented on #159
@C47D I've already posted [this issue in esp-idf](https://github.com/espressif/esp-idf/issues/8144). Will it be helpful or no chance to be noticed in reasonable time? or people in charge are already here?

[2021-12-29 05:18] C47D opened #160 "Move DISP_BUF_SIZE calculation to helper function"
Move `DISP_BUF_SIZE` calculation to a helper function so we can use it with LVGL v7 and LVGL v8.

`DISP_BUF_SIZE` is used for:
- Holding the calculation of the required size of the display draw buffer.
- Calculating the SPI max transfer size when configuring the ESP32 SPI Master peripheral.

`DISP_BUF_SIZE` value is determined by the LVGL v7 configuration option `LV_HOR_RES_MAX` and sometimes by a

[2021-12-30 01:28] C47D commented on #160
Handled in #156

[2021-12-30 01:28] #160 closed, assigned to C47D

[2022-01-01 01:04] C47D commented on #139
Also update the requirement for ESP-IDF 4.2 because of the usage of rsource.

Also add the buffering method being used for the drivers.

[2022-01-05 14:40] C47D opened #163 "ST7789: Make display offset runtime configurable"
St7789 based displays has several offset configurations, trying to handle all of the options in the flush callback will become harder. A runtime configuration will ease the handling of said offsets.

[2022-01-07 18:59] arktrin opened #165 "Warnings during compilation in develop branch"
I'm getting some warning during compilation using latest develop branch:
[code]

[2022-01-07 20:57] C47D commented on #163
Closed with #164

[2022-01-07 20:57] #163 closed, assigned to C47D

[2022-01-07 23:24] C47D commented on #165
Closed with #166

[2022-01-07 23:24] #165 closed, assigned to C47D

[2022-01-07 23:25] C47D commented on #155
Closed with #161

[2022-01-07 23:25] #155 closed, assigned to C47D

[2022-01-08 00:24] C47D commented on #122
Should be fixed with #161

[2022-01-08 00:24] #122 closed

[2022-01-08 00:25] C47D commented on #149
It seems like a copy paste error, what display were you using? I've removed it in  6af2ab1

[2022-01-11 01:05] C47D opened #167 "[develop] ST7789 software reset doesn't work"
Software reset doesn't seem to work when using the develop branch. To reproduce it you should enable software reset in the menuconfig and disable using hardware reset in the pin configuration menu,

[2022-01-11 01:59] C47D commented on #167
Seems like that particular display driver doesn't work well with software resets https://github.com/Bodmer/TFT_eSPI/issues/322#issuecomment-481034553

[2022-01-11 14:58] C47D opened #168 "[develop] Compilation errors in esp_lcd_backlight.c"
@C47D Thanks a lot! But with a latest develop now I've got even larger number of errors:
[code]

_Originally posted by @arktrin in https://github.com/lvgl/lvgl_esp32_drivers/issues/164#issuecomment-1009696098_

[2022-01-11 17:52] C47D commented on #168
It seems to me that those `gpio` functions are in this path https://github.com/espressif/esp-idf/blob/master/components/esp_rom/include/esp32/rom/gpio.h, I will investigate if the proper way to use them is via the suggested functions, such as `esp_rom_gpio_pad_select_gpio`, all of those GPIO initialization are now done in `display_bsp_init_io` and should be removed from the drivers init function.

[2022-01-11 18:17] C47D commented on #168
`SPI_DMA_CH1` is not defined for ESP32C3 https://github.com/espressif/esp-idf/blob/18af031791608460b65097eb5326aa28e7778d5f/components/driver/include/driver/spi_common.h#L69-L76, this line needs to be updated https://github.com/lvgl/lvgl_esp32_drivers/blob/6af2ab1f1c9b39b1d176c0b804842791b9689cae/lvgl_helpers.c#L107

This check should be done before calling `lvgl_spi_driver_init`

[code]

**EDIT**

[2022-01-11 18:51] arktrin commented on #168
I've thought this part:
[code]
already been added in #153.

[2022-01-11 19:06] C47D commented on #168
@arktrin Yup, it is, but we currently do the following inside `lvgl_interface_init`:
[code]

The `SPI_DMA_CH1` symbol is not defined for ESP32C3, so it fails the compilation. The check added in #153 should be done before calling `lvgl_spi_driver_init` instead of inside.

[2022-01-12 03:29] C47D commented on #168
@arktrin I've pushed this branch `fix/cleanup_lvgl_helpers` with a bunch of the errors you pointed out fixed, can you try it?

[2022-01-12 08:59] arktrin commented on #168
@C47D I don't know what I'm doing wrong but now I can't even configure the `feat/new_driver_test` branch of `lv_port_esp32` project. This is true for the 4.3 release and the latest `master` branch of esp-idf. Also true for latest `fix/cleanup_lvgl_helpers` and `develop` branches of `lvgl_esp32_drivers`.

Here is the [content of CMakeOutput.log](https://pastebin.com/Vt7gMZ9c). Can't figure out whic

[2022-01-12 16:42] C47D commented on #168
Thanks @arktrin I will try to add check it later today.

[2022-01-12 17:07] arktrin commented on #168
@C47D Sorry! I forgot to recursively clone the repository. Now with  the latest `feat/new_driver_test` branch of `lv_port_esp32` and with the  latest `fix/cleanup_lvgl_helpers`  branch of the `lvgl_esp32_drivers` I'm getting single error:
[code]

**EDIT**
This is true for the 4.3 release and the latest master branch of esp-idf.

[2022-01-12 18:37] C47D commented on #168
Damn, I wonder why I don't get those errors, maybe I need to test on a recently cloned repo. Will try to fix it later today, it's just a header include.

[2022-01-12 18:52] arktrin commented on #168
Sorry again! In a hurry I forgot to properly configure the project. Now I've got these errors:
[code]

[2022-01-12 18:55] C47D commented on #168
No problem, thanks for the update, I wonder why I don't see that errors in the CI

[2022-01-17 17:28] frezik commented on #51
I had the same problem, and using the features/v8_support branch got past that error. I'm now getting:

[code]

[2022-01-19 02:30] SinglWolf commented on #116
It is unfortunate that the problem of artifacts on the display screen is of no interest to anyone.

[2022-01-19 02:55] SinglWolf opened #173 "Compatibility of i2c_manager with other components in the project."
In my project, I use several devices that are controlled via `I2C`. The `i2cdev` component is used to resolve multithreading conflicts.
I decided to implement `ssd1306` display support in my project. In this regard, I have a few questions.
The most rational option is to abandon the vanilla `i2cdev` component and use 1 `i2c_manager` component in `i2cdev` compatibility mode.
But, as I understood fro

[2022-01-21 11:37] xire- commented on #149
Thank you, I'm using a FT81X with configuration EVE_RiTFT43

[2022-01-30 21:05] mkfrey commented on #173
The I2C drivers of ESP-IDF do not allow for different frequencies on the same I2C port. So if you are using the same port, you will have to use the frequency of the slave with the lowest frequency. Using higher frequencies on the bus doesn't make sense, because it can lead to unspecified behaviour of the devices not supporting the frequency.

If you use a different port (with different GPIO nums),

[2022-02-01 07:31] sukesh-ak opened #176 "Using ESP-LCD component as a display driver design"
Found that Espressif has a [ESP-LCD component](https://github.com/espressif/esp-idf/tree/master/components/esp_lcd) with documentation but only few [example drivers](https://github.com/espressif/esp-idf/tree/master/examples/peripherals/lcd).
Maybe its a better idea to build/port drivers using this design although not sure the efforts required for it now.

https://docs.espressif.com/projects/esp-id

[2022-02-01 16:04] adam2809 commented on #90
Hi I just found this issue while trying to figure out portrait mode for SSD1306 on esp32 and I just wanted to ask if there are any updates. Please let me know about the progress and if the issue is still unresolved I'd love to help since I need this for a project.

[2022-02-01 19:09] C47D commented on #90
Hi @adam2809, I haven't been able to work on this. AFAIK other users had been able to get rotation working on other monochrome displays by software rotation on the `round_px` callback.

What version of LVGL are you working on?

[2022-02-01 23:51] adam2809 commented on #90
Thanks for the quick response @C47D do you have any examples of the round_px implementations which have this functionality? I am using lvgl 7.11.0 and lvgl_esp32_drivers form commit f3f6ba64. I tried to set up newer varsions of these repos but this is the only version combination that I was able to get working although I read in some threads that in lvgl v8 will help with getting portrait so I am

[2022-02-02 06:29] C47D commented on #90
@adam2809 Sorry I don't have an example at hand, I think I saw it being mentioned over the forum. I will take a look over there tomorrow after work. I have an SSD1306 display so I may be able to give it a try later this week.

Are you using the `lv_port_esp32` example project? What is failing when you try to use a newer version of this repo?

[2022-02-02 13:55] adam2809 commented on #90
@C47D I have no idea why I didn't just use the versions from `lv_port_esp32` but I just tried it and it works perfectly. The solution I tried so far was setting my `lv_disp_drv_t` like this:
`disp_drv.sw_rotate = 1;`
`disp_drv.rotated = LV_DISP_ROT_90; // or LV_DISP_ROT_270`
but this just results in random artifacts that display only on one side of the screen.

[2022-02-02 15:57] C47D commented on #90
Hi, the rotations in the repo were introduced before the "official" rotation support and they don't line up. In the particular case of you driver you have two rotation options in the menuconfig configuration page, landscape and inverted landscape. Both portrait orientations doesn't work.

Working on lining up both rotation approaches has been in my to do list for quite a while, I just haven't had

[2022-02-02 16:08] C47D opened #177 "[devel] Sync current rotation support with LVGL's"
Current rotation support were introduced before LVGL supported it and they don't match up.

We need to add rotation callbacks to the display drivers.

[2022-02-02 16:12] C47D commented on #176
Hi,

I think it's being currently being used in the backlight control.

We're currently working (in the devel branch) to abstract the communication interface from the display drivers, with the goal of being able to add new communication interfaces easily.

Any tips @tore-espressif?

[2022-02-02 16:18] sukesh-ak commented on #176
Somehow I feel everything is messed up with the v8 migration.
Sharing my feedback from another issue on the esp32 port repo [here](https://github.com/lvgl/lv_port_esp32/issues/290)

I tried the following steps

1. Create a fresh ESP-IDF project
2. Add lvgl (from main repo) as an IDF component
3. Add lvgl_esp32_drivers (develop branch) as a IDF component =compiles fine

Now I need an example to tes

[2022-02-02 16:27] sukesh-ak commented on #176
Here is my sample main.c
What am I missing? Nothing shows up in the display

I can push the sample to a repo, if thats helpful.
[main.c.txt](https://github.com/lvgl/lvgl_esp32_drivers/files/7988309/main.c.txt)

[2022-02-02 18:00] C47D commented on #176
The portv8 branch of that repo is several months old, it was a leftover branch I used to test LVGL before v8 was officially released. I forgot to delete it and I've seen some people using it.

We got an example project on the CI of this repo using LVGL v8, having support for both versions in a single main file is a bit harder and uglier, but I can work on it only on my free time.

[2022-02-02 18:03] sukesh-ak commented on #176
I didn't use the v8 port but pulled from the main lvgl repo.
I don't need v7. I need v8 with IDF working sample :)

I tried v7 just to make sure the hardware is working.

[2022-02-02 18:08] sukesh-ak commented on #176
And here is the difference in out between different versions

![image](https://user-images.githubusercontent.com/53081362/152212254-f058325f-3425-433d-9c07-a36ce0406630.png)

[2022-02-02 19:45] sukesh-ak commented on #176
So I copied main.c from v7 to v8, and trying to make the required changes.

v8
lvgl_driver_init() function is missing. I believe its replaced with lvgl_interface_init()

lvgl_helpers.c
lvgl_get_display_buffer_size() returns 0 because for LVGL 8 there is a TODO statement - so not implemented.

v8 API changes?
changed 'lv_disp_buf_t' to 'lv_disp_draw_buf_t'
changed 'disp_drv.buffer' to 'disp_drv.dra

[2022-02-03 09:05] tore-espressif commented on #176
Hello @sukesh-ak
If you really need LVGL v8, then the `esp_lcd` component, that you mentioned, is a better place to start, as the examples for `esp_lcd` were written exclusively for v8.
ST7796s and ST7789 have identical interface, so you can start with this example: https://github.com/espressif/esp-idf/tree/master/examples/peripherals/lcd/i80_controller
and modify it for SPI (I can help with that)

[2022-02-03 09:46] tore-espressif commented on #163
Offsets are now handled by LVGL see https://github.com/lvgl/lvgl/pull/2583 !

[2022-02-03 09:46] tore-espressif commented on #168
Can we close this?

[2022-02-03 11:37] arktrin commented on #168
Yes, we can.

[2022-02-03 11:41] arktrin commented on #159
@C47D  Since it is a esp-idf issue and not directly corresponds to `lvgl_esp32_drivers` - it may be closed.

[2022-02-03 11:45] #168 closed, assigned to C47D

[2022-02-03 13:16] C47D commented on #159
Thanks @arktrin for the update.

[2022-02-03 13:16] #159 closed, assigned to nobody

[2022-02-03 19:49] sukesh-ak commented on #176
I have been a software guy all life, so have not gone into LCD driver side of things. So its a big grey area for me.

What is this portion of the code for? Is it using parellel interface instead of SPI?

[Is this](https://github.com/espressif/esp-idf/tree/master/examples/peripherals/lcd/tjpgd) 'examples/peripherals/lcd/tjpgd' a better sample to refer?

Thank you.
Also what about capacitive touch (

[2022-02-03 20:00] sukesh-ak commented on #176
@tore-espressif Appreciate your help.

Wireless Tag WT32-SC01

Capacitive touchscreen FT6336U

    - TFT_RST=22
    - TFT_SCLK=14
    - TFT_DC=21
    - TFT_CS=15
    - TFT_MOSI=13
    - TFT_MISO=-1
    - TFT_BCKL=23

    - TOUCH_DRIVER=0x6336
    - TOUCH_SDA=18
    - TOUCH_SCL=19

    - TOUCH_IRQ=-1   ; not connected
    - TOUCH_RST=-1   ; not used, connected to 3.3V
    - I2C_TOUCH_FREQUENCY=4000

[2022-02-06 10:52] richardclli opened #178 "ST7789 SPI mode seems wrong"
I have a display that is not working with the driver in SPI mode 2, but when changing the mode to 0, it works.

Not sure why the following code is needed in the first place.

#if defined (CONFIG_LV_TFT_DISPLAY_CONTROLLER_ST7789)
#define SPI_TFT_SPI_MODE    (2)
#else
#define SPI_TFT_SPI_MODE    (0)
#endif

[2022-02-06 12:09] richardclli commented on #178
After checking with eSPI_TFT library, it seems some ST7789 uses mode 0 and some uses mode 3, so probably mode 2 is not right?

[2022-02-06 15:31] C47D commented on #178
I've been using it in mode 2 for quite a while now, and it's working fine. I'll try to add an option in the Kconfig menu to choose the mode. Thanks for the report.

I'm guessing you are using the `master` branch.

[2022-02-07 08:02] tore-espressif commented on #176
Sorry for the late reply, I got caught with other issues.

Yes, Intel 8080 interface is parallel interface. You need to change it to SPI.

This example uses SPI interface but misses the LVGL porting part. It is a good starting point to verify that your setup is correct.

Touch controller is not part of `esp_lcd` and we don't have similar component for touch controllers yet. However, touch controll

[2022-02-07 08:59] richardclli commented on #178
A good choice, have a config is better, thanks.  I am using the version in the esp32 port, which is quite old, but I checked newer versions still use mode 2 hardcoded.

[2022-02-07 09:01] richardclli commented on #178
After tryout, I am creating a project using lvgl and the esp32 driver as submodules, may try newer version.  Use master branch in esp32 drivers is good?  Or should I move to another branch?  Which version of LVGL should I use?

[2022-02-07 17:04] C47D commented on #178
That project only supports LVGL v7, we're trying to get a general cleanup on the repo before starting to support LVGL v8. I will send you the patch later today.

[2022-02-07 17:50] sukesh-ak commented on #176
@tore-espressif

What about these libraries? Looks like a lot of code for relevant displays are already written.
The list of supported Display drivers looks complete and the sample uses lvgl too.

https://github.com/espressif/esp-dev-kits/blob/9f7a9b56f28f399b5bf383949c26d900375adedd/esp32-s2-hmi-devkit-1/components/screen/CMakeLists.txt#L3

[2022-02-08 09:43] richardclli commented on #178
Take your time, I already have a quick fix anyway.

[2022-02-08 18:46] richardclli commented on #68
Is there a working branch for v8 support?  The develop branch?  I would like to contribute some development, but first need to know where to start with.

[2022-02-09 10:52] richardclli opened #179 "Develop branch is broken? disp_driver_init is not called anywhere?"
Seems the develop branch is not working now.  Need any help to speed up coding?  I can offer some help.  Need to know what should I do next.

[2022-02-09 14:02] C47D commented on #179
See fc81c6da5a553ac8ba7f6f3bd482cd1f46e6f736, in devel you need to call the display driver init yourself, and pass a pointer to the registered lv_disp_drv_t

[2022-02-10 01:52] richardclli commented on #179
I noticed this already,  the README mentioned the need to call lvgl_interface_init for spi/i2c init and lvgl_display_gpios_init for gpio init, but not mentioned anything about disp_driver_init and cannot found anything in the examples as well.  I managed to call disp_driver_init in my main.c, and finally got the LCD to show something.

[2022-02-10 13:23] arktrin commented on #179
You may try to find working examples here: https://github.com/lvgl/lv_port_esp32/tree/feat/new_driver_test

[2022-02-18 00:35] slavendam commented on #167
According to datasheet SWRST only resets registers where some settings are, but Frame memory with previous picture will remain. I've added "fillScreen(0x0000)" in init() function just before SWRST call to clear screen also during reset.
This helps to not show previous picture after SWRST is done.

[2022-02-18 15:58] #178 closed, assigned to C47D

[2022-02-22 17:22] sukesh-ak commented on #176
Finally found LovyanGFX the best drivers which works for both Arduino and ESP-IDF.

ESP-IDF & Arduino samples for WT32-SC01 using LVGL8 + LOVYANGFX

Device : WT32-SC01
Display / Touch Drivers : LovyanGFX
Widgets : LVGL 8.x

ESP-IDF => WT32-SC01 + LVGL8 + LOVYANGFX
https://github.com/sukesh-ak/LVGL8-WT32-SC01-IDF

Arduino => WT32-SC01 + LVGL8 + LOVYANGFX
https://github.com/sukesh-ak/LVGL8-WT32-SC01

[2022-02-22 18:59] rashedtalukder commented on #146
Is there a pending date for this? It's a bit confusing what's going in master and what's in the develop branch. There are broken issues in master that are included in develop. However, the branches have started to diverge away and it's hard to keep track of where/how to reconcile since there have been so many commits since.

[2022-02-24 04:49] richardclli commented on #68
for LVGL v8, seems there are a lot of information are taken out from menuconfig and used the data type lv_disp_drv_t instead, screen size, orientation, etc. are all in there.  I think we may need to see how to modify the driver to cater for this change.

[2022-03-01 10:10] dlugaz commented on #116
I've encoutered the same issue (with artifacts). I think the artifacts are there, because the last pixel of the buffer didnt get one of the bytes of color sent.
I think the size of mybuf should be 3*size + 1, at least in my case it made the artifacts dissapear.
[code]

[2022-03-07 17:51] tsctrl opened #185 "Use specific IDF version to pair with lvgl driver"
Use specific idf version to to pair with lvgl drivers

such as lvgl release/v5 for master and lvgl/v4 for 4.4 release idf so the code will be working on each idf version.

please and thank you!

[2022-03-11 19:11] wilsonnggp opened #187 "ESP-IDF_ADCRAW_TouchDisplay Component Config"
Getting a few errors, one noticing that the touch display GPIOs need to be connected to "ADC1" and not "ADC2" because...

"#define GPIO_TO_ADC_ELEMENT(x) [x] = CONCAT3(**ADC1_GPIO**, x, _CHANNEL)"  from lvgl_touch->adcraw.h"

Can we add a case for uses to utilize ADC2 gpios? Even then, moving onto ADC1 gpios... it produces

I've tried GPIO36 & 35 for Y-,X+ which on the ESP32 wrover B provides func

[2022-04-09 10:19] Huckies opened #190 "Upgrade support for ESP32-S3 series"
A esp32s3 is more like a esp32c3 which only supports ```SPI_DMA_CH_AUTO```, so it might be better to upgrade `lvgl_esp32_drivers/lvgl_helpers.c` line 178

Also I met an assert error compiling (the target chip is esp32s3) and solved it by adding ```"-DSPI_HOST_MAX=3"```to line 91 of lvgl_esp32_drivers/CMakeLists.txt```

[2022-04-12 19:14] ksmq commented on #178
TTGO T-Watch which uses the ST7789 seems to work with both spi mode 0 and 3, but not with 2. I've seen other libs also use 0. Took me a while to debug this so posting in case someone else comes across the same problem.

[2022-04-14 17:03] doragasu opened #192 "Add configuration option to skip SPI bus initialization"
Currently, if you configure an SPI display such as ILI9341, the driver initializes the SPI bus calling `spi_bus_initialize()`, and there is no way to skip this initialization. This is troublesome for boards having more devices attached to the bus, like the M5Stack boards, that share MOSI, MISO and SCLK also with the microSD card.

For these cases, it would be convenient having a configuration opti

[2022-04-16 09:35] tigerya214 commented on #190
Hi, you answer hit me!!! do you know why it show "'TFT_SPI_HOST' undeclared (first use in this function); did you mean 'SPI3_HOST'?" when I am compiling the lvgl?

[2022-04-16 10:33] Huckies commented on #190
Maybe you want to config it before compiling, or add a declaration on your own header file.

[2022-04-16 12:17] tigerya214 commented on #190
<img width="960" alt="4bd1cacb6d47a5df3e2017115e69757" src="https://user-images.githubusercontent.com/89716758/163674573-53ebf5e3-1ba5-4c73-92ec-3f7cd7fe61e9.png">
就是编译后出现这个问题，是不是LVGL的函数因为版本原因变了？
（看了下好像是国人，哈哈！）

[2022-04-17 15:50] tigerya214 opened #193 "Compilation errors in esp_helpers.c"
I have two problem about compile the esp_helpers.c,
1、I think it is not support the esp32-s3, because I find there are not esp32-s3 in line 200 to  /* Initialize spi bus master */
2、what compiler should I choose? (I am not using the windows-msvc-x64)

`In file included from ../components/lvgl_esp32_drivers/lvgl_helpers.h:17,
                 from ../components/lvgl_esp32_drivers/lvgl_helpers.c:10:

[2022-04-22 16:51] wilsonnggp opened #194 "Random mis-inputs read from ADCRAW.c"
For some reason, other buttons are being triggered or read as "pressed" even though I'm not pressing it. Also are the interrupts suppose to trigger all the time for the ADC-touch GPIOs? The ETAG interrupts are always triggering and i'm not sure if thats fully intended by the lvgl esp32 drivers on how their touch drivers work.

[2022-04-25 16:51] #187 closed, assigned to nobody

[2022-04-25 16:52] #194 closed, assigned to nobody

[2022-04-27 15:51] LostQuasar opened #195 "Compiling new drivers in port esp32"
I am trying to compile the updated drivers with the base repository on the feat/new_driver_test branch and am not having luck unfortunately I need the gt911 touch driver so I cannot just use the current master branch. Anything I should be looking out for? I'll add the specific error I'm having in a few.

[2022-04-27 15:52] Spaceman commented on #195
I had modified the main.c to switch the display driver to ili9488 which my display uses but that was not compiling either

[2022-04-30 15:23] plutphil opened #196 "ft6206"
ft6206 capacitive touch controller doesn't work. I have no clue what's wrong.
This adafruit library https://github.com/adafruit/Adafruit_FT6206_Library works just fine with arduino.
I get this error:
E (530) FT6X36: 2Error reading from device: ERROR
I (530) FT6X36:         Device ID: 0x16
I (540) FT6X36:         Chip ID: 0x16
I (550) FT6X36:         Device mode: 0x16
I (560) FT6X36:         Firmwa

[2022-05-05 20:09] plutphil commented on #196
got it to work. some registers were different. will make a fork

[2022-05-05 20:09] #196 closed, assigned to nobody

[2022-05-12 06:02] ghost opened #197 "ili9488 i2s接口"
所有的驱动接口都是spi吗？没有支持i2s的？
我现在用的驱动就是i2s的

[2022-06-02 09:16] Silvesterrr commented on #193
Same problem

[2022-06-03 14:59] piotrosiotr opened #200 "LVGL hello world example causes spurious interrupt"
My setup is:
nrf52832 mcu
nrfConnectSDK v 1.9
Zephyr v 3.0.0
ili9488 display 480x320
I'm trying to launch basic hello world example for ZephyrOS, but function lv_label_set_text hangs to spurious interrupt handler, then mcu  resets. I tried to trace it and figured out that mcu jumps to spurious handler after calling set_next_free_chunk(h, first, second) in file heap.c. Not sure that it is lvgl and

[2022-07-08 16:52] flxzt opened #201 "SPI on ESP32-C3 does not work in develop branch"
I am trying to get a simple program (based on [this](https://github.com/lvgl/lv_port_esp32) ) for the GC9A01 display to work with an ESP32-C3 and vgl v8. I am using the develop branch for it.

[this commit](https://github.com/lvgl/lvgl_esp32_drivers/pull/191/commits/ef108457c772e0356c9a419c19331454d0b29991) seems to have hardcoded the DMA channel to 1, which is not the case in the master branch. I

[2022-07-20 16:39] michaelgaehwiler commented on #13
Hi,

I came also around this problem. I'm using Adafruit HUZZAH32 with Adafruit 3.5" Featherwing with ESP-IDF v4.4. With the Arduino component from Espressif it's working fully (Display, Touch, SD card). But not straight forward with lv_port_esp32 / lvgl_esp32_drivers. I would like to get rid of the Arduino component by switching to these projects.

Is it still possible to get help here?

Unfortun

[2022-07-26 10:39] mohammadjavadpirhadi opened #202 "SPI_HOST_MAX, LV_VER_RES_MAX and LV_HOR_RES_MAX not defined!"
Hello,
I'm using lvgl v8.3.1 and the master branch of lvgl_esp32_drivers, but during the build, I get these errors:

../components/lvgl_esp32_drivers/lvgl_helpers.c:157:28: error: 'SPI_HOST_MAX' undeclared (first use in this function);
../components/lvgl_esp32_drivers/lvgl_helpers.c:157:28: error: 'LV_VER_RES_MAX' undeclared (first use in this function);
../components/lvgl_esp32_drivers/lvgl_helpe

[2022-07-29 04:28] xbzxsh commented on #202
add these lines under the define comment in file "lvgl_helpers.h" should work.

[code]

[2022-07-29 04:38] mohammadjavadpirhadi commented on #202
@xbzxsh Yes, I know! But I expect that the library handle this automatically.

[2022-08-22 14:43] wenjingz commented on #135
This have resolved my problem, thanks!  And it is obviously an issue to be corrected in the repository.

[2022-08-22 14:48] wenjingz commented on #148
https://github.com/lvgl/lvgl_esp32_drivers/issues/135#issue-1029764283
There is an issue in the ili9488.h , you may try this one.

[2022-09-12 07:58] serhatuysal opened #207 "FT810 driver touch issues"
![1](https://user-images.githubusercontent.com/5434174/189601840-420bea21-ca59-43d1-8de4-d55a2ed9a491.png)
![2](https://user-images.githubusercontent.com/5434174/189601844-ee37f27c-fbd1-42dd-98b9-0375866d0250.png)
![3](https://user-images.githubusercontent.com/5434174/189601846-0a9ded81-4bc2-4961-ab15-7c36550fb7f3.png)
![4](https://user-images.githubusercontent.com/5434174/189601850-b3390b0c-e065-

[2022-09-14 06:29] serhatuysal commented on #207
i solved the problem

[2022-09-14 06:29] #207 closed, assigned to nobody

[2022-09-23 09:37] Silvesterrr commented on #16
I was able to make it work for anyone concern (esp32-s3, ILI9486, XPT2046)
Here is my lvgl driver for it.
[sd_driver.txt](https://github.com/lvgl/lvgl_esp32_drivers/files/9632486/sd_driver.txt)

[2022-09-23 10:42] Silvesterrr opened #208 "XPT2046 from time to time does not work"
I've seen some weid problem with XPT2046. Im using esp32-s3 with ILI9486 driver and XPT2046 driver + SD card on the same SPI bus. Everything works fine but from time to time the touch stops working. The command line does not show any difference to proper working run.
The "Solution" is to unplug the SPI connector plug it back in and reboot. Than it works without any problem.
Here is my initializati

[2022-09-25 23:13] rafacouto opened #209 "ST7735S driver with SPI is broken by AXP192 feature"
When enabling st7735s driver with SPI, the compilation is broken:

[code]

[2022-09-26 00:40] rafacouto commented on #209
It is already corrected on develop branch. Closing this one.

[2022-09-26 00:40] #209 closed, assigned to nobody

[2022-10-11 18:58] nicklasb commented on #202
@xbzxsh, I agree with @mohammadjavadpirhadi, isn't this odd?
There used to be an #ifdef before, but now it isn't.

Wouldn't a KConfig setting be better there?